<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>ATRATIVOS TURÍSTICOS</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body onselectstart="return false">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>ATRATIVOS TURÍSTICOS</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="imagens-conteudo/atrativos-turisticos/Catedral_Dornil.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                    <h1 class="text-center">Porto Nacional</h1>
                    <p class="text-justify">Porto Nacional apresenta grande
                        concentração de atrativos históricoculturais,
                        um conjunto arquitetônico e
                        eventos de relevante expressão cultural. A
                        existência de bens do patrimônio histórico
                        fortalece as ações planejadas para o
                        desenvolvimento do turismo.
                        Quanto ao patrimônio natural, há
                        uma elevada diversidade de atrativos
                        que permitem a visitação a elementos
                        diversificados, como praias, cachoeiras,
                        corredeiras e mirantes, entre outros.
                        O município está bem próximo à capital
                        do Estado (70 km), Palmas. Possui um bom
                        acesso por rodovias estaduai e aeroporto
                        com infraestrutura capaz de atender voos
                        charters e regulares. 
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> <br />
                    <img src="imagens-conteudo/atrativos-turisticos/Catedral.jpg" class="img-responsive">
                </div>
            </div>
        </div>






        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <img src="imagens-conteudo/atrativos-turisticos/IlhaPortoReal_JosimarOliveira.jpg" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <h1 class="text-center">Ilha Porto Real</h1>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify">A Ilha de Porto Real tem uma bela infraestrutura
                        permanente, com restaurantes, bares,
                        banheiros, torres de salva vidas e áreas para
                        camping e prática de esportes, dentre outros
                        equipamentos.
                        Além disso, a ilha possui pracinha com bancos
                        e playground, centro de convenções com
                        capacidade para 800 pessoas, com banheiros,
                        camarins e banheiros, palco, rampa para deficientes,
                        área de camping e trapiche com ancoradouro
                        de barcos.
                        No mês de julho, a Prefeitura disponibiliza  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify">
                        gratuitamente duas balsas com capacidade
                        para 100 pessoas no final de semana para a população
                        atravessar para a praia.
                        Na temporadade de verão, a Prefeitura
                        monta uma gigantesca estrutura para receber
                        turistas com barracas comerciais, restaurantes,
                        quiosques, postos de saúde e de segurança e
                        grandes palcos para eventos. No final de semana
                        (sábado e domingo) a Ilha recebe cerca de
                        50 mil pessoas para shows com as mais badaladas
                        estrelas da música regional e nacional.
                    </p>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/teste1.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/IVCampeonato.jpg" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="text-center">Praia de Porto-Luzimangues</h1>
                    <p class="text-justify">
                        A Praia Porto-Luzimangues teve sua primeira
                        temporada em 2013. A praia fica na área do
                        município de Porto com vista para Palmas.
                        Possui toda a estrutura com palco, tendas e
                        barracas de alimentação, além da promoção
                        de shows musicais. A maior parte do público
                        que frequenta a praia mora no distrito de
                        Luzimangues.   
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="text-center">Torneio de Pesca ao Tucunaré</h1>
                    <p class="text-justify">
                        O Torneio de Pesca ao Tucunaré de Porto
                        Nacional é um dos mais concorridos de toda a
                        região Norte do país. Criado pelo empresário
                        Adélio Ferreira, em 2013, atrai esportistas de
                        pesca de várias partes do Brasil. O evento conta
                        com o apoio do SBT nacional, representado
                        pelo apresentador Nelson Nakamura.  
                    </p>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <img src="imagens-conteudo/atrativos-turisticos/IMG5720.JPG" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <h1 class="text-center">Balneário e Cachoeiras</h1>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify"><b>Cachoeira Molha Chinelo</b> - Área de lagueiros,
                        nascente do córrego Moraes que deságua em um
                        paredão de 22m de comprimento, altura média de
                        3m, formando 3 quedas d’água. Fato interessante
                        é que a água muda a temperatura: de 10h às 14h
                        é mais quente, atingindo 36°C a 37°C, nos outros
                        horários é mais ameno. Vegetação composta por
                        imbaúbas e trepadeiras, árvores que atingem de 25
                        a 30m. Área para acampamento. Fica na fazenda
                        Dona Iracema. <br />
                        <b>Balneário Belcar</b> - Atrativo permanente. O local
                        possui campo de futebol, 2 chapéus de palha na beira
                        da piscina natural que é abastecida pelo córrego da
                        Água Suja, e possui águas cristalinas. Possui um
                        bar e quiosque para dança. Há uma piscina natural
                        de aproximadamente 10x12m, com água a cerca
                        25ºC e profundidade máxima de 1,5m, com peixes.
                        Possui cinco quiosques com cadeiras e mesinhas
                        de madeira. Acesso pela TO-255, Km 3. 
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify">
                        <b>Cachoeira Taboquinha</b> - atrativo permanente.
                        Corredeira próxima ao pé da serra, cercada por
                        vegetação nativa, de águas claras, com temperatura
                        de 24ºC. A água vem deslizando por um lajeado até
                        o ponto em que os blocos formam uma queda de
                        cerca de meio metro, com profundidade máxima
                        de 40cm. Fica na zona rural a 36 km do centro
                        de Porto Nacional. A localidade mais próxima é o
                        assentamento PA Matão a 5 km. <br />
                        <b>Cachoeira Azuis</b> - cachoeira de aproximadamente
                        6m de altura, de águas claras, formando um poço
                        de 5x7m e cerca de 2,5m de profundidade com
                        tonalidade azulada, cercado por mata ciliar. O
                        volume de água varia conforme a estação, e nunca
                        chega a secar totalmente. Localização: zona rural,
                        na propriedade do Sr. Paulo Alves Ribeiro, próximo
                        a Fazenda Fendão. Fica a 74km do centro de Porto
                        Nacional. Tempo estimado para acesso de carro: 1h. 
                    </p>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->





        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <img src="imagens-conteudo/atrativos-turisticos/ShowPaulaFerndesCreditosMurilo.JPG" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="text-center">Capital da Cultura</h1>
                    <p class="text-justify">Porto Nacional é considerada a Capital da
                        Cultura do Tocantins. A miscigenação de raças
                        - mineradores, escravos e índios -, deixou uma
                        herança cultural rica e forte. A cidade tem
                        tradição nas artes (música, teatro, dança), sem
                        contar a formação de uma elite intelectual,
                        fruto da influência da educação francesa dos
                        padres dominicanos. Esse caldeirão cultural se
                        manteve efervescente, consolidando eventos
                        que entraram para o calendário cultural do
                        Tocantins. A maioria deles ocorre no mês de
                        julho, em pleno verão, quando a Temporada
                        na Praia Porto Real, ferve de atrações. Em
                        julho é comemorado o aniversário da cidade
                        (dia 13) e a Semana da Cultura. Em janeiro e
                        fevereiro, a cidade também fica agitada com
                        o Réveillon e o Carnaval.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <br />
                    <img src="imagens-conteudo/atrativos-turisticos/ShowcomPaulaFerndesCreditosMuriloMagalhaes.JPG" class="img-responsive">
                    <br />
                    <img src="imagens-conteudo/atrativos-turisticos/DSC9261.JPG" class="img-responsive">
                </div>
            </div>
        </div>

        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional2009.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/Portoarienar.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> <br />
                    <img src="imagens-conteudo/atrativos-turisticos/IMG4738.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="text-center">Centro Histórico de Porto</h1>
                    <p class="text-justify">
                        O centro histórico de Porto Nacional foi
                        tombado em 2008 pelo IPHAN, sendo
                        composto pela Catedral Nossa Senhora das
                        Mercês, Seminário São José e a Comsaúde,
                        além de casarios antigos com arquitetura
                        colonial.
                        Os valores cultuais atribuídos à cidade são
                        decorrentes de suas qualidades históricas,
                        enquanto exemplar da urbanização do Ciclo
                        do Ouro no século XIX, sem esquecer a
                        importância comercial e portuária do núcleo
                        urbano às margens do rio Tocantins que a
                        cidade ostentou por muito tempo no Brasil.  
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <br />
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional2010.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional2009ftrobsonribeiro.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Catedral Nossa Senhora das Mercês</h1>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify">
                        Construída pelos frades dominicanos,
                        vindos da França, a majestosa catedral
                        Nossa Senhora das Mercês teve sua pedra
                        fundamental colocada no dia 7 de maio de
                        1894.
                        Situada nas proximidades da margem direita
                        do rio Tocantins, no mesmo local da antiga
                        capela de Nossa Senhora das Mercês, essa
                        obra monumental foi iniciada em 1894 e
                        concluída em 1904. Projetada em pedra e  
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify"> tijolos, representa o estilo românico de Toulouse,
                        França (região de origem dos freis construtores).
                        A maioria das imagens sacras da igreja foi trazida
                        da França e de Belém do Pará. Seu primeiro
                        sino, todo em bronze, também veio da França. A
                        Catedral representa a “Ordem Dominicana” em
                        Porto Nacional. Os festejos da santa padroeira,
                        Nossa Senhora das Mercês, ocorrem no mês de
                        setembro.
                    </p> 
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="imagens-conteudo/atrativos-turisticos/SeminarioSaoJosecomaCatedral.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> <br />
                    <img src="imagens-conteudo/atrativos-turisticos/Portoarienar25.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="text-center">Seminário São José</h1>
                    <p class="text-justify"> O antigo “Convento Santa Rosa de Lima” é
                        sede dos padres dominicanos desde o início da
                        década de 20. Os padres tiveram participação
                        fundamental para a formação cultural do
                        então Norte-Goiano, o que contribuiu para
                        que Porto conquistasse o cognome de “Berço
                        Intelectual do Norte Goiano”.
                        Está localizado ao lado da Catedral Nossa
                        Senhora das Mercês. Para acesso ao interior
                        do Seminário, é necessário registro na
                        recepção do local. 
                    </p> 
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional200910.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Museu Histórico e Cultural de Porto</h1>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional2009robsonribeiro.JPG" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify"> Foi o primeiro prédio de dois pavimentos a
                        ser construído na cidade. Teve sua construção
                        iniciada em 1921 e concluída em 1923. Abrigou
                        a Câmara, a Prefeitura e a Sala de Audiências,
                        até 1969. O museu foi fundado na década de
                        80 e se instalou, em definitivo, em 2007, sendo
                        tombado e restaurado pelo IPHAN.
                        O acervo do museu é representativo da
                        memória social e local do portuense.
                        Localiza-se na rua Padre Antônio, s/nº, próximo
                        a Catedral Nossa Senhora das Mercês. Aberto
                        ao público nas segundas-feiras, de 8 às 12h e
                        de terça a sexta-feira, das 8 às 17h. Fone: (63)
                        3363-3928. 
                    </p> 
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="imagens-conteudo/atrativos-turisticos/PortoNacional200925.JPG" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Colégio Sagrado Coração de Jesus e Caetanato (Sede da Comsaúde) </h1>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                    <p class="text-justify">
                        A educação de Porto começou a se
                        desenvolver a partir de 1904 com a fundação
                        do Colégio Sagrado Coração de Jesus pelas
                        irmãs dominicanas de Monteils-França. Em
                        1906, devido ao crescimento do número de
                        alunos, as irmãs ampliaram o prédio e, em
                        1950, deu-se início a construção de um novo
                        prédio que ficou pronto quatro anos depois.
                        Gerações de portuenses passaram pelo
                        colégio que mantém até hoje a tradição de
                        ensino de qualidade. 
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="text-justify"> O Caetanato (Sede da Comsaúde)funciona
                        na antiga sede do Colégio Sagrado Coração
                        de Jesus. O nome Caetanato vem de Caetana
                        Belles (falecida), uma senhora que sempre
                        cuidou do lugar e acabou adquirindo o
                        casarão histórico das freiras. A Comsaúde é
                        uma ong que funciona na cidade desde 1969.
                        Arquitetura portuguesa do início do século
                        XX. A visitação pode ser feita durante a
                        semana em horário comercial. Fica próximo à
                        Catedral Nossa Senhora das Mercês. 
                    </p> 
                </div>
            </div>
        </div>
		<!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/Folder/Monumento.jpg" class="img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/Folder/Logo_Memorial.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="imagens-conteudo/atrativos-turisticos/Busto_OsvaldoAires.png" class="img-responsive" style="margin: auto;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					 <h1 class="text-center">Memorial Heróis do Tocantins</h1>
                    <p class="text-justify">
                        Intelectuais, estudantes e a comunidade de
                        Porto Nacional protagonizaram momentos
                        importantes na luta de emancipação do
                        Estado do Tocantins. Sua gente deixou uma
                        marca indelével eternizada com a inauguração,
                        em 12 de julho de 2015, do Memorial Heróis
                        do Tocantins. O espaço, às margens do lago,
                        mostra os homens e mulheres que desde
                        o século XVIII encamparam essa luta com
                        destacada bravura, dentre eles, o juiz
                        Feliciano Machado Braga, Oswaldo Ayres da
                        Silva e Fabrício César Freire. A inauguração aconteceu  nas comemoraçãoes do aniversário da cidade: 
						154 anos de emancipação e 277 de fundação, e na mesma data de celebração dos 100 da Diocese de Porto Nacional.
                    </p>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
		<script src="bootstrap/js/js.js"></script>
		<!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>
