<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Uma breve história da criação do Estado do Tocantins, Brasil.">
        <meta name="author" content="Prefeitura de Palmas">
        <title>Criação do Tocantins</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body id="main-content">
        <main>
            
            <div>
                <div>
                    <div>
                        <div>
                            <h1>CRIAÇÃO DO TOCANTINS</h1>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>A luta pela criação do Estado do Tocantins</h1>
                        <p>
                            Em 1972, o então deputado federal Siqueira Campos, na condição de presidente da Comissão da Amazônia, propôs a criação do Estado do Tocantins no projeto de redivisão da Amazônia Legal. Dois anos depois, o mesmo deputado apresentou emenda ao projeto de lei complementar nº 187, que criava o Estado do Tocantins.
                        </p>
                        <p>
                            Embora outros projetos e emendas tivessem sido elaborados, dos quais dois lograram aprovação tanto pela Câmara como pelo Senado, o então presidente da República José Sarney acabou vetando estes projetos em 3 de abril de 1985 e em 9 de dezembro de 1985, respectivamente.
                        </p>
                        <p>
                            Em sinal de protesto pelo veto, o deputado federal Siqueira Campos entrou em greve de fome na Câmara dos Deputados, o mesmo fazendo o deputado estadual Totó Cavalcante, ambos de Goiás. Diante daquela atitude extrema, o presidente da República assumiu o compromisso de instituir uma Comissão Interministerial para Estudos da Redivisão Territorial do País, no âmbito do Ministério do Interior, priorizando o estudo da criação do Estado do Tocantins, com o que foi encerrada a greve de fome, após vários dias.
                        </p>
                    </div>
                    <div>
                        <img src="imagens-conteudo/criacao_do_tocantins/Greve de Fome Siqueira.jpg" alt="Siqueira Campos em greve de fome.">
                        <div>
                            Siqueira Campos em greve de fome. 13/12/1985. 
                            <br><br> 
                            Na foto ao lado, Deputado Totó Cavalcante 
                            <br>
                            com o Governador Henrique Santillo.
                        </div>
                    </div>
                    <div>
                        <img src="imagens-conteudo/criacao_do_tocantins/Totó e Santillo.jpg" alt="Deputado Totó Cavalcante com o Governador Henrique Santillo.">
                    </div>
                    <div>
                        <p>
                            Passada a matéria para a competência da Assembleia Nacional Constituinte, o deputado Siqueira Campos apresentou várias emendas, fundindo umas e aperfeiçoando outras até que, com a fusão da emenda 2P00002-9 com a emenda popular PE00026-1, foi criado o Estado do Tocantins pelo art. 13 do Ato das Disposições Constitucionais Transitórias da Constituição de 1988.
                        </p>
                        <p>
                            Na Carta Magna de 1988, foi estabelecido que as eleições seriam diretas para governador, três senadores, oito deputados federais, 24 deputados estaduais, prefeitos municipais e vereadores, com mandato de dois anos (exceto senadores, os quais teriam mandato de quatro anos).
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>A vitória final</h1>
                        <p>
                            Após vivenciar uma greve de fome e superar todos os obstáculos, entre os quais dois vetos presidenciais, o deputado José Wilson Siqueira Campos trabalhava incessantemente junto às diversas comissões do Congresso Nacional e aos líderes partidários. Praticamente sem dormir durante as votações da Assembleia Nacional Constituinte (foi o único deputado com 100% de frequência às sessões), o parlamentar não reprimiu a alegria ao ver aprovada a criação do Estado do Tocantins. Em plena sessão da Assembleia Nacional Constituinte, presidida pelo deputado Ulisses Guimarães, exclamou:
                        </p>
                        <p>
                            - Conseguimos! Graças a Deus e aos colegas constituintes, conseguimos criar o Estado do Tocantins! Nós conseguimos, senhor presidente!
                            Pelo artigo 13 do Ato das Disposições Constitucionais Transitórias da Carta de 1988, estava finalmente criado o Estado do Tocantins, pelo desmembramento do Estado de Goiás.
                        </p>
                    </div>
                    <div>
                        <img src="imagens-conteudo/criacao_do_tocantins/4761673913_9939b6dfb8_o.jpg" alt="Promulgação da nova Carta Magna do Brasil.">
                        <div>Cinco de Outubro de 1988 - Promulgação da nova Carta Magna do Brasil e da Criação da criação do Estado do Tocantins</div>
                    </div>
                    <div>
                        <p>
                            O artigo 13 estabelecia: “É criado o Estado do Tocantins, pelo desmembramento da área descrita neste artigo, dando-se a sua instalação no quadragésimo sexto dia após a eleição prevista no § 3º, mas não antes de 1º de janeiro de 1989”.
                        </p>
                        <p>
                            O 46º dia, previsto na Constituição Federal, seria o dia 20 de novembro de 1988, mas, por disposição expressa, não poderia ser “antes de 1º de janeiro de 1989”.
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>Os primeiros eleitos</h1>
                        <p>
                            Criado o estado, estava tudo por fazer. Sua instalação dar-se-ia no dia 1º de janeiro de 1989, com a posse do governador, do vice-governador, dos três senadores, dos oito deputados federais e vinte e quatro deputados estaduais, que teriam apenas dois anos de mandato, à exceção dos dois senadores mais votados, que teriam quatro, coincidindo com o término do mandato dos senadores eleitos em 1986.
                        </p>
                        <p>
                            A eleição dos primeiros representantes tocantinenses realizou-se em 15 de novembro de 1988, pelo Tribunal Regional Eleitoral de Goiás, tendo sido empossados, além dos 62 prefeitos municipais eleitos, além do governador e seu vice, senadores e deputados federais e estaduais, que foram:
                        </p>
                        <div><b>Governador:</b> José Wilson Siqueira Campos</div>
                        <div><b>Vice-governador:</b> Darci Martins Coelho</div>
                        <p><b>Senadores:</b> Moisés Abrão Neto, Carlos Patrocínio (com mandato de 4 anos) e Antônio Luiz Maya (com mandato de dois anos, por ter sido o menos votado, como prescrevia o § 4º do art. 13 do Ato das Disposições Constitucionais Transitórias).</p>
                        <p><b>Deputados federais:</b> Eduardo Siqueira Campos, José dos Santos Freire Júnior, Moisés Nogueira Avelino, Paulo Sidney Antunes, Ary Ribeiro Valadão, Leomar de Melo Quintanilha, Paulo Sardinha Mourão e Edmundo Galdino.</p>
                        <p><b>Deputados estaduais:</b> Antônio Jorge Godinho, Antônio Pesconi (que não chegou a tomar posse, por ter morrido em acidente, quando se dirigia a Goiânia para ser diplomado, e foi substituído pelo primeiro suplente, Arlindo Silvério Almeida), Carlos Arci Barcelos, Francisco Sales, Gerival Aires Negre, Iron Marques, Izidório Correia de Oliveira, João Renildo de Queiroz, Joaquim de Sena Balduíno, Joaquim Machado Filho, José Everaldo Barros, Jurandi Oliveira, Lindolfo Campelo da Luz, Luiz Tolentino, Manoel Alencar, Mascarenhas de Moraes, Merval Pimenta, Pascoal Baylon das Graças Pedreira, Paulino Bertoldo, Pedro Braga da Luz, Raimundo Nonato Pires dos Santos, Raul de Jesus Lustosa Filho, Uiatan Cavalcante e Vicente Ferreira Confessor. </p>
                        <p>Raimundo Boi foi eleito o primeiro presidente da Assembleia Legislativa do Estado do Tocantins. </p>
                        <h1>O desafio da construção</h1>
                        <p>
                            O governador eleito estava diante de um grande desafio: construir um estado e uma capital com recursos próprios, uma vez que o governo federal se negou, desde o princípio, a repassar os recursos constitucionais que permitiram o desenvolvimento de estados novos, como Rondônia e Mato Grosso do Sul.
                            Nem um centavo dos recursos constitucionais devidos, previstos para a implantação do estado, foi repassado. Os recursos federais referentes a um só mês equivaliam ao que o Tocantins arrecadaria em 13 meses. Para Goiás, houve apenas uma divisão, pois a região já era desenvolvida, mas o Tocantins se iniciava do nada. Apenas a margem esquerda do rio Tocantins possuía asfalto, em razão da Belém-Brasília (BR-153), enquanto a margem direita contava com menos de dez quilômetros de pavimentação.
                        </p>
                    </div>
                    <div>
                        <img src="imagens-conteudo/criacao_do_tocantins/colinas-de-goias.jpg" alt="Vista da cidade de Colinas de Goiás.">
                    </div>
                    <div>
                        <p>
                            Para agravar a situação, o Estado não tinha sequer funcionários para arrecadar os tributos que garantiriam sua sobrevivência, pois os remanescentes de Goiás que optaram pelo Tocantins não eram suficientes para cobrir a malha de órgãos de arrecadação. Existem fronteiras com seis outros estados, com múltiplos pontos de passagem. Ainda assim, o Tocantins sofreu com as sucessivas contestações, ora à devolução dos bens que por direito lhe pertenciam, ora aos concursos absolutamente necessários para a administração do estado, como o certame para o provimento dos primeiros juízes e dos diversos cargos da administração.
                        </p>
                    </div>
                    <div>
                        <h1>A inclusão na região norte</h1>
                        <p>Devido a uma hábil estratégia, o Tocantins passou a figurar na região norte, o que estava previsto no art. 13 do Ato das Disposições Constitucionais Transitórias, e não mais na região centro-oeste, o que se traduziria em mais incentivos e captação de recursos federais. </p>
                        <p>Art. 13. “É criado o Estado do Tocantins, pelo desmembramento da área descrita neste artigo, dando-se a sua instalação no quadragésimo sexto dia após a eleição prevista no § 3º, mas não antes de 1º de janeiro de 1989”. </p>
                        <p>
                            § 1º. O Estado do Tocantins integra a Região Norte e limita-se com o Estado de Goiás pelas divisas norte dos Municípios de São Miguel do Araguaia, Porangatu, Minaçu, Cavalcante, Monte Alegre de Goiás e Campos Belos, conservando a leste, norte e oeste, as divisas atuais de Goiás com os Estados da Bahia, Piauí, Maranhão, Pará e Mato Grosso.
                        </p>
                        <p>
                            Embora muitos pensem que a presença institucional do Tocantins na região norte tenha sido apenas para obter as vantagens e estímulos inerentes à região amazônica, isto não procedia, pois uma lei específica já considerava, de longa data, a área de Goiás acima do paralelo 13 como pertencente à Amazônia Legal.
                        </p>
                        <p>
                            Na verdade, era muito importante colocar o Tocantins oficialmente, via Constituição, na região norte, já que a tentativa de incluí-lo posteriormente através de lei poderia despertar a oposição dos outros estados da região, tendo os recursos que ser rateados com mais um estado.
                        </p>
                        <p>
                            Aproximando-se o dia em que os líderes se reuniriam para formalizar o texto que seria levado a plenário, os contatos se intensificaram, destacando-se o trabalho do deputado Paulo Roberto Cunha, de Goiás, que ajudou muito nas articulações. Foi fundamental que os articuladores guardassem reserva para não despertar reações contrárias que seguramente surgiriam, pois a inclusão do Tocantins na região norte representaria, nos primeiros dez anos de criação, uma adição de recursos da ordem de um bilhão de dólares. Com tato, prudência e sobretudo um bem elaborado trabalho de articulação é que o Tocantins passou a figurar na região norte.
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>As dificuldades iniciais</h1>
                        <p>Nos dois primeiros anos de existência, que corresponderam ao curto primeiro mandato do chefe do Executivo, foi fundamental a harmonia entre os três poderes, diante da circunstância de, partindo da estaca zero, estar tudo por fazer. </p>
                        <img src="imagens-conteudo/criacao_do_tocantins/palmas-inicio.jpg" alt="Vista da cidade de Palmas no início de sua construção.">
                        <p>Assim, os dois primeiros anos de vida do Tocantins foram vividos sob intensa crise. Não bastasse o descaso do governo federal, Goiás hostilizava com retaliações, principalmente no tocante à divisão dos bens que, estando em território tocantinense, pertenceriam por direito ao estado recém-criado. Tantas foram as retaliações, principalmente no ano de 1990 (por ter sido um ano eleitoral), que o governo federal instituiu uma comissão especial para decidir sobre a divisão dos bens, mas esta foi sabotada e até sustada, ficando o Tocantins impossibilitado de ver devolvidos máquinas e equipamentos que, na calada da noite, foram levados por Goiás às vésperas da instalação do novo estado. </p>
                        <p>Ainda assim, muita coisa se fez. Dotou-se o Tocantins de uma infraestrutura racional básica, que possibilitou sua administração, levando-o à condição de um dos mais modernos estados do país. </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>A escolha da capital provisória e da capital definitiva</h1>
                        <p>Para não reeditar a época dos capitães-generais de São Paulo, e depois de Goiás, que por mais de um século e meio praticaram atos discriminatórios com o povo da região tocantínia, o governador eleito, José Wilson Siqueira Campos, optou por escolher como capital provisória a cidade de Miracema do Norte. </p>
                        <p>E no dia 1º de janeiro de 1989, em solenidade realizada na quadra de esportes do Colégio Tocantins, em Miracema do Norte, presidida pelo presidente do TRE de Goiás, desembargador Joaquim Henrique de Sá, e com a presença do governador de Brasília, Joaquim Roriz (representando o presidente da República), além de inúmeros convidados, foram empossados o governador, seu vice, os senadores e os deputados federais e estaduais. </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>A capital definitiva</h1>
                        <p>A decisão de construir no centro geográfico do Estado uma nova cidade, planejada, moderna, para sede do governo estadual, foi pensada e repensada. Assim, foi escolhido o lugar à margem direita do Tocantins, no povoado de Canelas, que, forçosamente, transformar-se-ia em um polo de desenvolvimento de toda a margem direita, secularmente abandonada. </p>
                        <img src="imagens-conteudo/criacao_do_tocantins/reuniao2.jpg" alt="Reunião no Povoado Canela.">
                        <div>Reunião no Povoado Canela</div>
                    </div>
                    <div>
                        <p>O planejamento da capital, projetada pelo Grupoquatro - Planejamento e Consultoria, foi coordenado pelos arquitetos Valfredo Antunes e Luiz Fernando Cruvinel, prevendo uma cidade com amplos espaços bem distribuídos, totalmente afinada com os preceitos ambientais, onde seus habitantes pudessem viver com o conforto oferecido pela vida moderna, em harmonia com a natureza. </p>
                        <p>No dia 20 de dezembro de 1989, a Assembleia Legislativa aprovou projeto nº 01, de 19 de dezembro de 1989, de emenda à Constituição Estadual que modificou a redação do art. 32 do Ato das Disposições Transitórias, e determinou a mudança da capital para Palmas no dia 1º de janeiro de 2000, em sessão solene da Assembleia Legislativa e demais poderes constituídos do estado, em presença das autoridades estaduais e municipais. </p>
                        <p>Assim, no dia 28 de dezembro de 1989, o governador Siqueira Campos convocou uma reunião com o prefeito de Taquaruçu do Porto, Fenelon Barbosa, e com a Câmara de Vereadores, objetivando a votação de um projeto de lei municipal para transferir a sede do município de Taguaruçu para Palmas, tornando Taquaruçu um distrito de Palmas, conservando o mesmo topônimo, evidentemente, elevava Palmas à dignidade de município autônomo. </p>
                        <p>A lei municipal nº 28, de 28 de dezembro de 1989, autoriza o chefe do Executivo municipal a transferir a sede do município para Palmas, no dia 1º de janeiro de 1990. Por sua vez, o chefe do Executivo estadual, concomitantemente, por força do decreto nº 01/00 instala a sede do governo na cidade de Palmas nos termos do art. 32 do Ato das Disposições Constitucionais Transitórias, modificado pelo art. 12 da emenda constitucional nº 01/89, de 19 de dezembro de 1989. </p>
                        <p>Estes fatos ocorreram como estavam previstos, solenemente, a 12 de janeiro de 1990, quando foram instalados os poderes Legislativo e Executivo do Município de Palmas. Nesta mesma sessão, sob a proteção de Deus, foram instalados, também, os três poderes do Estado do Tocantins, na cidade de Palmas, sede do município do mesmo nome e capital definitiva do Estado do Tocantins. </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>Palmas - moderna e planejada</h1>
                        <p>Localizada na mesorregião oriental do Tocantins, Palmas é a capital e centro geográfico do Estado do estado, situada à margem direita do rio Tocantins, um pouco acima do paralelo 10. </p>
                        <img src="imagens-conteudo/criacao_do_tocantins/4777102219_31ec142d62_o.jpg" alt="Palmas, a capital planejada.">
                        <p>Na manhã de 20 de maio de 1989, às 6h45, no local onde o governador Siqueira Campos mandara erguer uma grande cruz de pau-brasil como símbolo da fé cristã, o bispo de Porto Nacional, dom Celso Pereira de Almeida, em altar previamente preparado, celebrou a 1ª missa e bênção de Palmas, coadjuvado pelos padres Juraci Cavalcante e Rui Cavalcante e pelo monsenhor Jacinto Sardinha. </p>
                        <p>Após a missa chegou de helicóptero o general Rubem Bayama Denis, chefe do Gabinete Militar da Presidência da República, representando o então presidente José Sarney. Ao som do Hino Nacional foram hasteadas pela 1ª vez em terras palmenses as bandeiras do Brasil, pelo general Bayama Denis, do Tocantins, pelo governador Siqueira Campos, e de Palmas pelo deputado federal Eduardo Siqueira Campos. </p>
                        <img src="imagens-conteudo/criacao_do_tocantins/Livro-Camara-cap-tocantins.jpg" alt="Primeira Missa no lançamento da Pedra Fundamental de Palmas em 20/05/1989.">
                        <div>Primeira Missa no lançamento da Pedra Fundamental de Palmas em 20/05/1989</div>
                        <p>Como parte das solenidades foi celebrado também um culto ecumênico. Em seguida o governador fez um breve pronunciamento anunciando o início das obras de construção da nova capital. Em seguida descerrou um marco histórico com a proclamação de 15 de setembro de 1821, assinada pelo ouvidor Teotônio Segurado e demais membros do governo provisório instalado em Cavalcante. Ao meio dia, depois da explosão e rajada de fogos de artifícios, o próprio governador acionou um grande trator, iniciando assim a abertura da avenida principal da cidade de Palmas. </p>
                        <p>A origem do nome de Palmas é uma homenagem à primeira Comarca do Movimento Libertário instalada em 1809, com o nome de São João das Duas Barras, situada na barra do rio Palma com o rio Paranã, na vila de São João da Palma, capitania de Goiás. Outra justificativa é também a homenagem a uma variedade imensa de palmáceas ou palmeiras típicas, que se encontram em quase todo o estado. </p>
                        <p>A cidade situa-se a 1.149 Km de Brasília, capital da República, possui uma área de 2752.2 Km2 e limita-se ao norte com Lajeado e Tocantínia ao sul com Porto Nacional e Monte do Carmo; ao leste com Aparecida do Rio Negro e ao oeste com Paraíso do Tocantins. De acordo com fontes da prefeitura e do TRE, em abril de 1990, possuía uma população estimada em 5.000 habitantes e 1.480 eleitores. O padroeiro de Palmas é São José, festejado no dia 19 de março. </p>
                        <p><i>Fonte: Memórias Vivas da Câmara Municipal de Palmas, Warner Pires, 2008</i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="imagens-conteudo/criacao_do_tocantins/Fotos-Aereas-056.jpg" alt="Ponte da Amizade.">
                        <div>Ponte da Amizade - 8 km de comprimento</div>
                        <img src="imagens-conteudo/criacao_do_tocantins/Paisagismo-Palmas-TO-14.01.10-FA (235).jpg" alt="Vista do Espaço Cultural.">
                        <div>Vista do Espaço Cultural</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>