<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body onselectstart="return false">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="index.html"><img src="img/voltar.png" ></a>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>HERÓIS DO TOCANTINS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="imagens-conteudo/herois-tocantins/Henrique Santillo2.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
                    <h1 class="h1-tamanho" >HENRIQUE SANTILLO</h1>
                            <p class="text-justify">
                                Político  influente radicado no Estado de Goiás, foi durante o seu mandato de governador do Estado que houve o desmembramento do Goiás  para formar o atual Estado do Tocantins, sendo portanto o último governador goiano a governar sobre tal região.
Já durante a campanha eleitoral, em 1986, como candidato se comprometeu a lutar pela criação do Estado do Tocantins. E logo que assumiu o Palácio das Esmeraldas, Santillo passou a cumprir a promessa. Nos primeiros meses de 1987, toda a máquina do governo de Goiás estava à disposição da Conorte e de todas as lideranças nortenses que lutavam pela criação do Estado do Tocantins. Além disso, colocou à disposição da Comissão de Estudos duas salas do Escritório de Representação do governo de Goiás, em Brasilia.
Henrique Santillo constituiu-se, assim, no primeiro governador de goiás a dar apoio concreto ao movimento separatista dos nortenses. Esse procedimento do Governador goiano criou um clima de ampla cordialidade entre as duas unidades da Federação – Goiás e Tocantins.   
                            </p>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
		<!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>