<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body onselectstart="return false">
        <div >
            <div>
                <div >
                    <div>
                        <h1>HERÓIS DO TOCANTINS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div>
                <div>
                    <div>
                        <a href="herois-do-tocantins-parte-i.html#Abenilio">Abenílio Aires Cerqueira (Nilo)</a>
						<a href="herois-do-tocantins-parte-i.html#Adao-Bonfim-Bezerra">Adão Bonfim Bezerra</a>
						<a href="herois-do-tocantins-parte-i.html#Antonio-Luiz-Maya">Antônio Luiz Maya</a>
						<a href="herois-do-tocantins-parte-i.html#Antonio-Poincare">Antônio Poincaré de Andrade	</a>
						<a href="herois-do-tocantins-parte-i.html#Carlos-Laet">Carlos de Laet Rodrigues Bezerra</a>
						<a href="herois-do-tocantins-parte-i.html#Celio-Costa">Célio Costa</a>
						<a href="herois-do-tocantins-parte-i.html#Clemente-Barros-Neto">Clemente Barros Neto</a>
						
						<a href="herois-do-tocantins-parte-i.html#Darci-Coelho">Darci Martins Coelho </a>
						<a href="herois-do-tocantins-parte-i.html#Dom-Alano">Dom Alano Marie Du Noday </a>
						<a href="herois-do-tocantins-parte-i.html#Durval-Godinho">Durval Godinho </a>
						
						<a href="herois-do-tocantins-parte-i.html#Edivaldo-Rodrigues">Edivaldo Rodrigues	</a>
						
						<a href="herois-do-tocantins-parte-i.html#Edmar-Gomes-de-Melo">Edmar Gomes de Melo	</a>
						<a href="herois-do-tocantins-parte-i.html#Edmundo_galdino">Edmundo Galdino da Silva	</a>
						<a href="herois-do-tocantins-parte-i.html#Feliciano-Machado">Feliciano Machado Braga	</a>
						
						<a href="herois-do-tocantins-parte-i.html#Francisco-Ayres">Francisco Ayres da Silva (Dr. Chiquim)	</a>
						<a href="herois-do-tocantins-parte-i.html#Felipe-Antonio-Cardoso">Felipe Antonio Cardoso (Brigadeiro Felipe Cardoso)</a>
						
						
						<a href="herois-do-tocantins-parte-i.html#Euvaldo-Tomaz-de-Souza">Euvaldo Tomaz de Sousa	</a>
						<a href="herois-do-tocantins-parte-i.html#Fabricio-Cesar-Freire">Fabrício César Freire</a>
						
						<a href="herois-do-tocantins-parte-i.html#Francisco-Aires-Neto">Francisco Aires da Silva Neto</a>
						<a href="herois-do-tocantins-parte-i.html#Getulio-Matos">Getúlio Alves Matos Quinaud</a>
						
						<a href="herois-do-tocantins-parte-i.html#Goianyr">Goianyr Barbosa de Carvalho</a>
						
						<a href="herois-do-tocantins-parte-i.html#Hagaus_Araujo">Hagaús Araujo</a>
						<a href="herois-do-tocantins-parte-i.html#Henrique-Santillo">Henrique Santillo</a>
						<a href="herois-do-tocantins-parte-i.html#Hosterno-Pereira-da-Silva">Hosterno Pereira da Silva</a>
						<a href="herois-do-tocantins-parte-i.html#Iara-Braga">Iarairene Costa Braga</a>
						<a href="herois-do-tocantins-parte-i.html#Izabel-Dias-Neves">Izabel Dias Neves</a>
						
						
						
						<a href="herois-do-tocantins-parte-ii.html#Jacinto-Nunes">Jacinto Nunes da Silva</a>
						<a href="herois-do-tocantins-parte-ii.html#Jalles-Marinho">Jalles Marinho</a>
						<a href="herois-do-tocantins-parte-ii.html#Joao-Ribeiro">João Ribeiro</a>
						
						
                    </div>
                </div>
                <div>
                    <div>
						<a href="herois-do-tocantins-parte-ii.html#Joao-Abreu">João D’Abreu</a>
						<a href="herois-do-tocantins-parte-ii.html#Joao-Cruz">João Lisboa Cruz</a>
                        <a href="herois-do-tocantins-parte-ii.html#Joao-Matos">João Matos Quinaud</a>
						<a href="herois-do-tocantins-parte-ii.html#Jose-Carlos-Leitao">José Carlos Leitão</a>
						<a href="herois-do-tocantins-parte-ii.html#Jose-Freire">José Freire (Zé Freire)</a>
						<a href="herois-do-tocantins-parte-ii.html#Jose-Edmar-Brito-Miranda">José Edmar de Brito Miranda</a>
						
						<a href="herois-do-tocantins-parte-ii.html#Jose-Maia-Leite">José Maia Leite</a>
						<a href="herois-do-tocantins-parte-ii.html#Siqueira-Campos">José Wilson Siqueira Campos</a>
						<a href="herois-do-tocantins-parte-ii.html#Joaquim-Theotonio-Segurado">Joaquim Theotônio Segurado</a>
						
						<a href="herois-do-tocantins-parte-ii.html#Julio-Resplandes">Júlio Resplandes de Araújo</a>
						<a href="herois-do-tocantins-parte-ii.html#Jurimar-Macedo">Jurimar Pereira de Macedo</a>
						<a href="herois-do-tocantins-parte-ii.html#Jose-Cardeal-dos-Santos">José Cardeal dos Santos</a>
						
						<a href="herois-do-tocantins-parte-ii.html#Luciano-Ayres"> Luciano Ayres da Silva</a>
						<a href="herois-do-tocantins-parte-ii.html#Luiz-Leite-Ribeiro">Luiz Leite Ribeiro</a>
						<a href="herois-do-tocantins-parte-ii.html#Lysias-Rodrigues">Lysias Rodrigues</a>
						<a href="herois-do-tocantins-parte-ii.html#Luis-de-Souza-Pires">Luis de Souza Pires</a>
						
						<a href="herois-do-tocantins-parte-iii.html#Mary-Sonia-Matos-Valadares">Mary Sônia Matos Valadares</a>           
						<a href="herois-do-tocantins-parte-iii.html#Olegario-Jose-Oliveira">Olegário José de Oliveira</a>           
						
						
						<a href="herois-do-tocantins-parte-iii.html#Osvaldo-Ayres">Osvaldo Ayres da Silva</a>                
						<a href="herois-do-tocantins-parte-iii.html#Otavio-Barros">Otávio Barros da Silva</a>                 
						<a href="herois-do-tocantins-parte-iii.html#Otoniel-Andrade">Otoniel Andrade Costa</a>               
						<a href="herois-do-tocantins-parte-iii.html#Paulo-da-Costa">Paulo da Costa</a>                             
						<a href="herois-do-tocantins-parte-iii.html#Rosa-da-Silva">Rosa de Aquino</a>                           
						<a href="herois-do-tocantins-parte-iii.html#Ruy-Rodrigues-Silva">Ruy Rodrigues da Silva</a>              
						<a href="herois-do-tocantins-parte-iii.html#Terezino">Terezino Pereira da Silva</a>           
						<a href="herois-do-tocantins-parte-iii.html#Toto-Cavalcante">Totó Ayres Cavalcante</a>              
						<a href="herois-do-tocantins-parte-iii.html#Trajano-Coelho-Neto">Trajano Coelho Neto</a>     
						<a href="herois-do-tocantins-parte-iii.html#Vagner-Maia-Leite">Vagner Maia Leite</a>                     
						<a href="herois-do-tocantins-parte-iii.html#Vicentinho">Vicente Alves Oliveira (Vicentinho)</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div >
            <div>
                <div >
                    <hr />
                </div>
            </div>
        </div>
        <div >
            <div>
                <div >
                    <div>
                        <div >
                            <h3><b>BIOGRAFIAS EM PRODUÇÃO - CONTEÚDO COLABORATIVO - COMPARTILHE SUAS INFORMAÇÕES COM O MEMORIAL</b></h3>
                        </div>
                        <div >
                            <p>
                                O Memorial Heróis do Tocantins está preparando, cuidadosamente, a biografia de homens
                                e mulheres que contribuíram efetivamente para a criação do Estado do Tocatins. <b>Algumas
                                    biografias encontram-se em construção</b> e podem, inclusive, ser escritas e melhoradas com
                                a sua colaboração. Se tiver quaisquer documentos, textos e fotos, entre em contato conosco.
                                A Prefeitura de Porto agradece: (63) 3363-6000 contato@portonacional.to.gov.br | Dimensão: agencia@dimensaoto.com.br
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div>
                <div>
                    <div>
						<div> Adalício Monteiro </div>
						<div> Adilton Aires da Silva </div>
						<div> Aldo Azevedo Soares </div>
						<div> Alice Azevedo Soares </div>
						<div> Antônio Carlos Valadares Veras </div>
						<div> Antônio José Soares </div>
						<div> Antônio Luiz Dias </div>
						<div> Antônio Maia Leite  </div>
						<div> Antônio Teixeira Neto </div>
						<div> Aquiles Azevedo Soares </div>
						<div> Aquiles Maia Leite </div>
						<div> Armando de Queiroz </div>
						<div> Arpuim Araújo Pereira </div>
						<div> Athos Pereira da Silva </div>
						<div> Aurolino Ninha </div>
						<div> Avilmar Rodrigues Alves </div>
						<div> Benedito Boa Sorte </div>
						<div> Berilo Leite </div>
						<div> Carlos Gomes Ferreira </div>
						<div> Clidenor Bezerra Costa </div>
						<div> Dalton Furtado </div>
						<div> Deijayme Aires da Silva </div>
						<div> Delcídio Gomes de Melo </div>
						<div> Delcídio Thomaz de Souza </div>
						<div> Deocleciano Aires da Silva (Ciano) </div>
						<div> Deocleciano Farias Aires </div>
						<div> Dinah Ayres Carvalho </div>
						<div> Doris Gramacho </div>
						<div> Duanei Rodrigues de Oliveira </div>
						<div> Edimilson de Souza Lima </div>
						<div> Edson Rodrigues </div>
						<div> Élida Magalhães dos Santos </div>
						<div> Elvecino Barros Cabral </div>
						<div> Eny Pinto da Costa </div>
						<div> Fernando Teixeira Storni </div>
						<div> Florêncio Aires da Silva </div>
						<div> Francisco de Assis O. Negre </div>
						<div> Francisco Maranhão Japiassú </div>
						<div> Francisco Martins Bemvindo </div>
						<div> Francisco Mota da Silva </div>
						<div> Francisco Rodrigues </div>
						<div> Hallen Conceição Bezerra </div>
						<div> Hamilton Aires </div>
						<div> Hamilton Pereira (Pedro Tierra) </div>
						<div> Heleno Costa </div>
						<div> Helvécio Barros Cabral </div> 
						<div> Ibamar Tavares </div>
						<div> Israel Siqueira Campos </div>
						
                    </div>
                </div>
                <div>
                    <div>
							<div> Joacir Camelo Rocha </div>
							<div> Joamar de Carvalho Brito Neto </div>
							<div> Jamil Pereira de Macedo </div>
							<div> João Rocha </div>
							<div> Joaquim Alves de Castro </div>
							<div> José Bezerra Costa </div>
							<div> José de Sena Moura </div>
							<div> José Gonçalves Zuza </div>
							<div> José Liberato Póvoa </div>
							<div> José Mário de Freitas </div>
							<div> José Messias Aires </div>
							<div> José Orlando Ribeiro </div>
							<div> José Pita Júnior </div>
							<div> José Salomão Jacobina Aires </div>
							<div> José Sebastião Pinheiro </div>
							<div> José Tomaz </div>
							<div> José Vilmar Tavares </div>
							<div> Jovanine Soares </div>
							<div> Luiz Correa </div>
							<div> Manoel Coelho Arruda </div>
							<div> Manoel José Pedreira </div>
							<div> Maria das Dores Braga Nunes </div>
							<div> Maria do Carmo S. Neiva </div>
							<div> Maria do Socorro Florentino C. de Souza </div>
							<div> Maria Eulina da Silva Braga (Mãe Tia) </div>
							<div> Maria Jardel Brito Neiva </div>
							<div> Maria José Bayma </div>
							<div> Marlene Nery </div>
							<div> Messias Tavares </div>
							<div> Neuza Helena de Castro </div>
							<div> Ney Luz e Silva </div>
							<div> Nonato Aires </div>
							<div> Odonel Brito Neto </div>
							<div> Oscar Wilde Ayres da Silva </div>
							<div> Ozório Evandro de Oliveira </div>
							<div> Pedro Castanheira </div>
							<div> Pio Pinto de Cerqueira </div>
							<div> Rachel Medeiros Sales </div>
							<div> Ramilson Pedreira Barros </div>
							<div> Rita Amaral </div>
							<div> Salmeron Brito </div>
							<div> Sandra Aparecida Miranda </div>
							<div> Urias Rodrigues de Morais </div>
							<div> Vicente de Paula Leitão </div>
							<div> Victor Xavier de Oliveira </div>
							<div> Wilmar Costa Braga </div>
							<div> William Sandes </div>
							<div> Zezuca Pereira da Silva </div>
							<div> Zilma Suely Résio do Carmo </div>

                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>