<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>HERÓIS DO TOCANTINS</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body onselectstart="return false">
        
        <div>
            <div>
                <div>
                    <div>
                        <h1>HERÓIS DO TOCANTINS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="Abenilio">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Abenilio.jpg" >
                </div>
                <div>
                    <h1>ABENÍLIO AIRES CERQUEIRA (Nilo)</h1>

					<p>Nascido em Ponte Alta do Bom Jesus, Goiás, em 1961, Abenílio Aires Cerqueira, administrador de empresas com cursos de Marketing Político e Eleitoral, tinha vasta experiência em assuntos políticos e legislativos; foi assessor parlamentar do ministro das Minas e Energia e assessor de várias campanhas políticas para deputado, senador, governador e presidente da república o que contribuiu muito na sua luta pela criação do Tocantins.</p>

                </div>
            </div>
        </div>
		<div id="Adao-Bonfim-Bezerra">
            <div>
                <div >
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Adao-Bonfim-Bezerra.jpg" >
                </div>
                <div>
                    <h1>ADÃO BONFIM BEZERRA</h1>

<p>Nascido em Cavalcante, Goiás, pertencente à família radicada em Paranã, Adão Bonfim Bezerra cursou o ginásio em Porto Nacional, de 1956 a 1960; concluiu o curso de Técnico em contabilidade, em Goiânia, e formou-se em Direito em 1969, pela UFG.</p>

<p>Ingressou no Ministério Público do Estado de Goiás, em 1971. Foi 2º Promotor de Justiça da Capital e exerceu 10 anos de sua função no interior, maior parte no território do Estado do Tocantins, inclusive Miracema, Porto Nacional e Gurupi. De fevereiro a outubro de 1989, foi posto à disposição do Estado do Tocantins, onde serviu na função de Procurador Geral de Justiça. 
</p>
<p>Adão Bonfim foi Secretário da CONORTE, seção Goiânia, em dois períodos, bem como do comitê pró-criação do Estado do Tocantins. É autor do livro “Tocantins – Um Estado para a Nova República”, com edição esgotada. Foi, também, articulista sobre temas voltados, notadamente, ao Tocantins. </p>

                </div>
            </div>
        </div>
		<div id="Antonio-Luiz-Maya">
            <div>
                <div >
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Antonio-Maia-Leite.jpg" >
                </div>
                <div>
                   <h1>ANTÔNIO LUIZ MAYA</h1>
<p>Nasceu em 18 de dezembro de 1926, em Porto Nacional. Filho de Joaquim Maya Leite e Ana de Macedo Maya. Estudou no Grupo Escolar Dom Pedro II e na Escola Normal São Tomás de Aquino, bem como no Seminário Menor São José, de Porto Nacional. </p>
<p>Em 1941, passou a estudar no Seminário Arquidiocesano de Belo Horizonte, Minas Gerais, onde cursou Filosofia. Na Universidade Gregoriana de Roma, na Itália, fez Doutorado em Teologia, terminando em 1954. Em Roma, em 1952, foi ordenado Sacerdote. 
</p><p>
Retornando ao Brasil, foi nomeado Reitor do Seminário São José de Porto Nacional, bem como Professor do Colégio Estadual, de que foi Diretor de 1958 até 1971. Foi também Professor do Colégio Sagrado Coração de Jesus. Pelo Papa Paulo VI, foi feito Monsenhor e Vigário Geral da Diocese de Porto Nacional. </p><p>

Transferindo-se para Goiânia, tornou-se por concurso, em 1972, professor de Filosofia do Instituto de Ciências Humanas e Letras, da Universidade Federal de Goiás, onde chegou a Pró-Reitor de Graduação e se aposentou como Professor Titular. Delegado Substituto do MEC em Goiás, pertenceu também ao Conselho Estadual de Educação. </p><p>

Foi Senador da República pelo Estado do Tocantins, em 1989, permanecendo até 1991. No governo de Leonino Caiado, foi Diretor de Ensino Primário do Estado de Goiás. Monsenhor e Vigário-Geral de Porto Nacional. Reitor do Seminário São José na antiga Porto Real. Professor Secundário e Diretor do Colégio Estadual de Porto Nacional. </p><p>

Político, Religioso, Professor. Escritor, Ensaísta, Pesquisador. Memorialista, Historiador, Literato. Pensador, Intelectual, Jurista. Ativista, Produtor Cultural, Cronista. Administrador, Educador, Ficcionista. Conferencista, Orador, Contista. </p><p>
Diretor do Departamento de Assistência Estudantil, em 1972. Professor Adjunto da Universidade Federal de Goiás, por concurso público, onde também foi Pró-Reitor de Graduação e Chefe de Departamento do Instituto de Ciências Humanas e Letras, da UFG. Membro da Academia Tocantinense de Letras, além de outras agremiações sociais, culturais e de classe, entre as quais, Conselho Estadual de Educação. Delegado Substituto junto à Delegacia do Ministério da Educação, em Goiás. Na capital goiana, foi também membro do Conselho Estadual de Educação. </p><p>

Conhecido como Professor Maya, é também Diretor do Departamento de Ensino Superior da Secretaria da Educação e Diretor Presidente da Comissão Diretora da Universidade do Tocantins. Presente no livro “Senadores do Tocantins”, de Maria Helena Ruy Ferreira e na Estante do Escritor Goiano, do Serviço Social do Comércio, além de diversos textos de estudos técnicos. </p><p>

Na Academia Tocantinense de Letras é Titular da Cadeira 06, cujo Patrono é Francisco Ayres da Silva. A convite dos fundadores da ATL, tomou posse no dia 02.03.1991, na cidade de Porto Nacional, no Colégio Sagrado Coração de Jesus. </p><p>

Faleceu em Goiânia, no dia 22 de junho de 2009. </p><p>

Escreveu, “Ação Parlamentar” (1989), “A Ferrovia Norte-Sul”, “Hidrovias do Araguaia e Também do Tocantins”, “A Autonomia Universitária”, “Desenvolvimento dos Cerrados”. </p><p>

Publicou também os livros Reminiscências Familiares, Reminiscências Eclesiásticas e Sacerdotais, Reminiscências Sociais Portuenses e Ocasionais. </p><p>


<i>Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005.</i> </p>

                </div>
            </div>
        </div>
		<div id="Antonio-Poincare">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Antonio_Poincare_.jpg" >
                </div>
                <div>
					<h1>ANTÔNIO POINCARRET DE ANDRADE</h1>

 
<p>Pernambucano de nascimento, Antônio Poincarrret de Andrade nasceu em 1929 e veio, em 1957, para o então norte goiano, morando incialmente na cidade de Peixe, depois mudou-se para Porto Nacional. Lá, casou com Dinorah José Costa com quem teve 11 filhos, entre eles Otoniel Andrade.
</p>
<p>Em setembro de 1957, mudou-se para o canteiro de obras da construção da Belém Brasília, a então nascente cidade de Gurupi e, na eleição de 1960, foi eleito ali, primeiro suplente de vereador, pela legenda da antiga UDN –União Democrática Nacional. </p>

<p>Homem de visão ampla e progressista para o seu tempo, instalou em Gurupi a primeira indústria gráfica do norte do Goiás. Para apressar o progresso da cidade que nascia à beira da estrada, Antônio Andrade fez sua opção pelo jornalismo, quando passou a editar o periódico A Voz de Gurupi, um jornal com linha editorial em defesa do desenvolvimento da região e de denúncias contra os poderosos do sul do Goiás. Isso despertou duras perseguições ao jornal e seu diretor, o que fez com que Poincarret se transferisse de volta para Porto Nacional, onde continuou suas atividades como jornalista e fundou o periódico Porto Nacional Jornal, que por algum tempo circulou na cidade. Também instalou uma estação de rádio, que, infelizmente, por falta de autorização legal foi impedida de entrar em funcionamento definitivo. </p>

<p>Ingressando na política local, elegeu-se vereador em 1966. Reelegeu-se vereador em 1970, ocupando a presidência da Câmara Municipal. No ano de 1972, foi eleito prefeito pela Arena. Entre suas realizações destacam-se: abertura de ruas e loteamentos urbanos, edificação de praças públicas e de esportes; reconstrução dos prédios da Delegacia de Polícia e da Cadeia Pública. </p>
<p>Exerceu o mandato de maneira satisfatória, a despeito de ligeiro incidente político que culminou com seu transitório afastamento do cargo e posterior reintegração por força de decisão de instância superior de justiça. </p>

<p>Em 1986, cria em Porto Nacional o diretório do PFL- Partido da Frente Liberal e, no ano de 1992, foi eleito prefeito municipal de Fátima, cuja emancipação política deveu- se, também aos seus esforços. Como reconhecimento, recebeu da Assembleia Legislativa do Estado do Tocantins o título de Cidadão Tocantinense. </p>

                </div>
            </div>
        </div>
		
		<div id="Carlos-Laet">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Carlos-Laet.jpg" >
                </div>
                <div>
					<h1>CARLOS DE LAET </h1>

<p>Carlos de Laet Rodrigues Bezerra, graduado em Direito pela Universidade Católica de Goiás, em 1974, foi funcionário da Telegoiás, acumulou ao longo dos anos, vasta experiência nas áreas de informática, comercial e operacional, tendo exercido as funções de gerente, nas referidas áreas, e ocupando o cargo de Coordenador de Normas e Prática na Assessoria de Organização e Métodos. Ferrenho defensor da causa do norte goiano, desde os idos de 1959, quando, ao lado do juiz Feliciano Machado Braga, já batalhava em prol da criação do Estado do Tocantins.
</p>
<p>Ocupou os cargos de tesoureiro da Casa do Estudante do Norte Goiano- CENOG, em Porto Nacional e Goiânia, 1962/1968; foi tesoureiro da subcomissão da CONORTE, em Goiânia, no período 1985/1987 e membro do Conselho Deliberativo da Entidade.
</p>
<p>Mesmo quando poucos acreditavam na possibilidade de criação do novo Estado, Carlos de Laet continuou sua luta com perseverança e obstinação. Apesar das críticas, das derrotas, como o veto do presidente José Sarney em 1987, sempre se manteve fiel na busca do ideal almejado e, a par das dificuldades, inclusive de ordem financeira, publicou diversos trabalhos como: Sugestões e Reivindicações da Conorte ao Plano de Governo Iris Rezende Machado 1983/1987; Reivindicações ao Governo Santillo; pleito da CONORTE sobre a Ferrovia Norte Sul, encaminhado ao Presidente da República José Sarney e ao Ministro dos Transportes José Reinaldo Carneiro Tavares; Programa de Emergência para o desenvolvimento do Setentrião Goiano – encaminhado ao Presidente José Sarney; sugestão de matéria constitucional ao Projeto da constituição (art. 13, parágrafo 11 do Regimento Interno) e Tocantins - um Estado para a nova República de autoria de Adão Bonfim Bezerra.
</p>

                </div>
            </div>
        </div>
		
		<div id="Celio-Costa">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Celio-Costa.jpg" >
                </div>
                <div>
					<h1>CÉLIO COSTA</h1>

<p>Célio Costa, economista, nasceu em 19 de dezembro de 1953, em  Porto Nacional, TO. Filho de Joaquim Costa Júnior e Terezinha de Jesus Costa, Célio Costa. 
</p>
<p>Foi deputado estadual por Goiás, suplente do PMDB, integrante da 11ª (1987 a 1991), tendo assumido em 02 de janeiro de 1989. Foi um dos principais articuladores do acordo político que levou o então candidato a governador Henrique Santillo a fazer o compromisso de apoiar o projeto de criação do Estado do Tocantins e que foi decisivo para a criação do Estado.
</p>
 <p>É autor do livro O Estado do Tocantins uma Geopolítica de Desenvolvimento, estudo técnico sobre a viabilidade do Tocantins que foi serviu de subsídios para o movimento de criação do Estado.  Ocupou ainda os cargos de Diretor Técnico e de Planejamento da Companhia de Desenvolvimento de Goiás (CODEG). Colaborou com a campanha para tentar criar o Estado do Carajás, chegando a ocupar a secretaria de Planejamento do município de Parauapebas. </p>

                </div>
            </div>
        </div>
		
		<div id="Clemente-Barros-Neto">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Clemente_Barros_Neto_PeB.jpg" >
                </div>
                <div>
                  <h1>CLEMENTE BARROS NETO </h1>


<p>Clemente Barros Neto é natural de Porto Nacional e engenheiro agrônomo, formado pela Universidade Federal de Goiás, com pós-graduação em Comunicação Rural pela USP. Foi secretário estadual de Recursos Hídricos e Meio Ambiente do Tocantins; secretário municipal de Agricultura de Palmas; diretor técnico e presidente da EMATER/Goiás; delegado federal da Cibrazem e presidente da Sociedade Brasileira de Zootecnia. Foi, também, presidente da Cenog - Casa do Estudante do Norte Goiano.</p>
 
                </div>
            </div>
        </div>
		
		<div id="Darci-Coelho">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Darci_Coelho_PeB.jpg" >
                </div>
                <div>
					<h1>DARCI COELHO</h1>


<p>Darci Martins Coelho foi o primeiro vice-governador do Tocantins, no 1º Governo Siqueira Campos (1989/1990). Com uma carreira jurídica exemplar, alcançou vários postos: de juiz a promotor até procurador da República. </p>

<p>Esteve à frente de diversas secretarias de Estado, sendo secretário de Segurança Pública, de Administração, Justiça, Turismo e secretário de governo. </p>
<p>Parlamentar atuante, exerceu quatro mandatos de deputado federal, sendo, no último mandato, titular da Comissão  de Constituição e Justiça e de Cidadania, responsável por avaliar os aspectos de constitucionalidade das matérias. </p>

<p>Professor universitário licenciado, Darci esteve sempre ligado aos anseios da classe estudantil. Como deputado atuou de forma direta na criação da Universidade Federal do Tocantins. Quando o senador Eduardo Siqueira Campos conquistou, junto ao presidente Fernando Henrique Cardoso, a criação da UFT no dia 26 de maio de 2000, já no dia 1º de junho, Darci relatava o projeto na Comissão de Constituição e Justiça da Câmara dos Deputados, dando-lhe parecer favorável. O relatório deu início às votações e aprovações na Câmara e no Senado Federal para a implantação da UFT. Além disso, o deputado também lutou pela implantação da Escola Técnica Federal do Tocantins - ETF, tendo conseguido recursos para sua manutenção, a exemplo do Laboratório de Informática. </p>

<p>Grande incentivador e apoiador da cultura, Darci foi coordenador da Frente Parlamentar de Cultura onde desenvolveu trabalho de valorização e divulgação da cultura tocantinense e brasileira. É membro da Academia Tocantinense de Letras e da Academia de Letras Jurídicas. Como deputado federal, trabalhou para levar benefícios como escolas, hospitais, casas, quadras de esporte, asfalto, saneamento básico e tantas obras importantes ao povo tocantinense. </p>

                </div>
            </div>
        </div>
		
		<div id="Dom-Alano">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Dom-Alano_02.jpg" >
                </div>
                <div>
					<h1>DOM ALANO MARIE DU NODAY </h1>
<p>

Natural de Saint Servant, Grand Champ, Bretanha, Norte da França, 02.11.1899. Filho do nobre Arthur Rolland Du Noday e Antoinette Rolland Du Noday. Batizado na Igreja de Saint Anne D’Auray, recebeu o nome civil de Jean Huberth Antoine que foi mudado para ALANO, em virtude do sacerdócio. Escreveu “Prédicas Filosóficas”. </p><p>

Como Conde Du Noday, estudou em Paris e Londres, especializando-se em Filosofia, Música, Artes e outras ciências. Em 1917, com 18 anos de idade, tornou-se Cavaleiro do Exército Francês, chegando ao posto de Oficial. Como Militar, lutou na Primeira Guerra Mundial e no Norte da África, inclusive Marrocos, em 1919. </p><p>

Era Capitão do Exército Francês, quando foi ordenado Padre, pela Ordem Dominicana, em Saint Maximin, Sul da França, no dia 04.08.1928, tornando-se Frei Alano. Chegou ao Convento do Bairro do Leme, no Rio de Janeiro, em 1932, passando a pregar no Clube dos Intelectuais, de que faziam parte, entre outros, o Brigadeiro Eduardo Gomes e Alceu Amoroso Lima (Tristão de Ataíde). </p><p>

Durante quatro anos, residiu no Convento e foi Professor da Universidade Católica, quando escreveu “Prédicas Filosóficas”, texto restrito ao seu público intelectual e só existente na Biblioteca Nacional. </p><p>

Em seguida, foi enviado para Formosa, no interior de Goiás. No dia 01.05.1936, foi ordenado Bispo de Porto Nacional, tendo tomado posse no dia 12 de julho, aniversário da cidade. </p><p>

Organizou o Seminário São José, em Porto Nacional, bem como o Colégio Florêncio Ayres, o Colégio Dom Domingos Carrerot, o Colégio Dom Bosco e o Colégio Irmã Aspásia. Fundou em Arraias, o Colégio Nossa Senhora de Lourdes. Em Campos Belos, o Colégio Estadual. Em Dianópolis, o Colégio João de Abreu. Em Paranã, o Colégio Estadual. Em Miracema, o Colégio Tocantins. Em Natividade, o Colégio Estadual. Em Tocantínia, o Colégio Frei Antônio de Ganges. 
</p><p>
Vale salientar que, no seu tempo, a Diocese de Porto Nacional era formada de todas as cidades do atual Estado do Tocantins e mais ainda as cidades de Campos Belos e Monte Alegre que ficaram para Goiás, depois da divisão do Estado. </p><p>

Em Porto Nacional, fundou o Hospital Lays Neto dos Reis. No dia 23.10.1945, recebeu o título de Grande Oficial da Ordem do Mérito da Aeronáutica. Em 02.10.1953, recebeu da Presidência da República, a condecoração “Comendador da Ordem do Cruzeiro do Sul”. O título de Cidadão Goiano foi conferido pela Assembleia Legislativa de Goiás, em 27.06.1962, via projeto da Deputada Estadual Ana Braga. </p><p>

Faleceu em Porto Nacional, no dia 14 de dezembro de 1985, sendo sepultado na Catedral Nossa Senhora das Mercês. </p><p>

Na Academia Tocantinense de Letras é Patrono da Cadeira 09, de que é  Titular o Padre Joatan Bispo de Macedo. Biografado no Dicionário Biobibliográfico do Tocantins, de Mário Ribeiro Martins, MASTER, Rio de Janeiro, 2001. Sobre ele, os padres Pedro Pereira Píagem e Cícero José de Sousa, escreveram excelente livro com o título “Dom Alano - O Missionário do Tocantins” e o jornalista Luiz de Sousa Pires gravou o videodocumentário “Dom Alano - O Apóstolo do Tocantins”. </p><p>

</p><p>
<i>Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005.</i> </p>

                </div>
            </div>
        </div>
		<div id="Durval-Godinho">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Padrao.jpg" >
                </div>
                <div>
					<h1>DURVAL DA CUNHA GODINHO</h1>
<p>
Nasceu em Porto Nacional em 01.09.1919. Filho de Olímpio Godinho e Jacundina Carvalho Godinho. Vereador por 16 anos, em sua terra natal. Oficial Reformado do Exército Brasileiro. Superintendente Regional de Ensino. Ex-combatente da Força Expedicionária Brasileira (FEB). Fundador e Diretor do Tiro de Guerra, de Porto Nacional. </p><p>

Antigo funcionário do Ministério da Agricultura. Diretor do Colégio de Porto Nacional e do Colégio Dom Pedro II. Aposentou-se como Fiscal do Tesouro Estadual, eis que, Exator ou Coletor, durante muitos anos. </p><p>

Professor, Jornalista. Historiador, Escritor, Ensaísta. Pesquisador, Memorialista, Intelectual. Pensador, Ativista, Produtor Cultural. Literato, Cronista, Contista. Administrador, Educador, Ficcionista. Conferencista, Orador, Poeta. </p><p>

Enfocado nos livros Estudos Literários de Autores Goianos e Escritores de Goiás, de Mário Ribeiro Martins. Membro da União Brasileira de Escritores de Goiás, da Associação dos Professores de Goiás, além de várias entidades culturais, sociais e de classe, entre as quais, Academia Tocantinense de Letras e Associação Goiana de Imprensa. </p><p>

Faleceu no ano de 1997, no dia 07 de novembro, com 78 anos de idade, deixando vários filhos, entre os quais, Heitor Godinho, advogado e Coronel reformado da Polícia Militar do Estado de Goiás. Consta também que seu filho Renato Godinho, nascido em Porto Nacional, em 1960, ex-funcionário do Banco do Brasil, teria escrito um livro de poemas “Todos Juntos”, que o autor destas notas recebeu com autógrafo. Renato Godinho tornou-se funcionário dos Correios e formou-se em Direito pela Universidade Federal do Tocantins (UFT), tornando-se Advogado militante. </p><p>

Na Academia Tocantinense de Letras foi o 1º Titular da Cadeira 10, cujo Patrono é o Frei Antônio de Ganges, hoje ocupada por Múcio Breckenfeld. Para esta Cadeira, Durval não foi eleito, mas convidado pela Assembléia Geral da ATL, tendo tomado posse em 17.09.1992, na cidade de Porto Nacional, conforme o livro Perfil da Academia Tocantinense de Letras, de Juarez Moreira Filho. </p><p>

Escreveu, "História de Porto Nacional"(1988), sem dados biográficos no livro e sem qualquer outra informação ao alcance da pesquisa, via texto publicado, com apresentação de Generosa Pinto. </p><p>

Biografado no Dicionário Biobibliográfico do Tocantins, de Mário Ribeiro Martins, Master, Rio de Janeiro, 2001. </p><p><i>

Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005 
</i></p>

                </div>
            </div>
        </div>
		
		
		
		
		
		<div id="Edivaldo-Rodrigues">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Edivaldo_Rodrigues.jpg" >
                </div>
                <div>
					<h1>EDIVALDO RODRIGUES </h1>


<p>Edivaldo Rodrigues nasceu em Porto Nacional e mudou-se, em 1977, para Goiânia, buscando ingressar na universidade. Na capital goiana, ele atuou como professor, servidor público do Detran, da Saneago, como assessor governamental e como servidor de carreira do Ministério das Minas e Energia. </p>

<p>Na área jornalística, colaborou com vários jornais da Capital e do interior, e, em 1987, ao lado de seu irmão Edson Rodrigues fundou o jornal O Paralelo 13. Em 1989, com o curso de História concluído, pela UFG, e o do Direito por concluir, retornou ao tão sonhado torrão tocantinense para assumir a secretaria de Administração de Porto Nacional, na gestão do então prefeito Vicente Alves de Oliveira. </p>
<p>Em 1990, Edivaldo Rodrigues foi convidado pelo então governador Moisés Avelino para fazer parte de sua assessoria, onde ficou até 1994, retornando em seguida à direção do jornal O Paralelo 13, onde até hoje ocupa os cargos de Editor-Chefe e Diretor Executivo, assinando colunas, escrevendo matérias diversas, editoriais, artigos e crônicas. Trabalhos reconhecidos que, através do voto, o levaram à presidência da Associação Tocantinense de Imprensa (ATI). Atualmente é secretário da Comunicação de Porto Nacional. </p>

                </div>
            </div>
        </div>
		
		<div id="Edmar-Gomes-de-Melo">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Edmar-Gomes-de-Melo.jpg" >
                </div>
                <div>
					<h1>EDMAR GOMES DE MELO</h1>


<p>Membro fundador da Conorte, o empresário e economista Edmar Gomes de Melo foi um dos batalhadores pela criação do Tocantins, ao lado de Aurolino Ninha. Egresso da Cenog, adentrou na luta pela criação do Estado do Tocantins em 1963, ao ser eleito, democraticamente, primeiro presidente da Cenog de Pedro Afonso. Por ser a primeira sub-comissão da região, a Cenog exerceu um papel eminentemente conscientizador para a população de Pedro Afonso, Tupirama, Miracema, Guaraí, Araguaína e Tocantinópolis, levando a mensagem de desenvolvimento do então setentrião goiano. </p>

<p>Em 1965, foi para Brasília, onde após algum tempo reencontrou remanescentes do grupo da Cenog e outros companheiros de causa como José Maia Leite, José Carlos Leitão, Vagner Maia, Fernando Storni, Paulo Costa, Rosa Aquino, Francisco Negry, Dinah Ayres, professor Zuza e Jales Marinho numa reunião memorável no Hotel Nacional e lá o entusiasmo foi retomado por Edmar que, posteriormente, passou a compor a Conorte. </p>

                </div>
            </div>
        </div>
		
		<div id="Edmundo_galdino">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Edmundo_galdino_PeB.jpg" >
                </div>
                <div>
					<h1>EDMUNDO GALDINO DA SILVA </h1>


<p>Edmundo Galdino nasceu em 28 de outubro de 1958, em Araguaína, filho de Avany Galdino da Silva e Maria Matos da Silva. Na vida política e parlamentar, ocupou várias funções públicas como vereador, 1983-1987, em Araguaína; deputado estadual, suplente do PMDB, para legislatura 1987-1988. No ano seguinte, foi eleito deputado federal, pelo PSDB, do Tocantins, tendo que renunciar ao mandato de deputado Estadual. Foi reeleito deputado federal, PSDB, legislatura 1991-1995, pelo Estado do Tocantins. </p>

<p>Quando estudante, atuou na frente de reorganização do movimento estudantil secundarista, em Goiânia, 1979-1981; foi presidente do centro acadêmico do curso de História, UFG, 1982; diretor de imprensa e divulgação do centro acadêmico, curso de Direito, Universidade Católica de  Goiás e educador sindical da Federação de Agricultura dos Trabalhadores de Goiás, 1981-1982. </p>

                </div>
            </div>
        </div>
		
		<div id="Feliciano-Machado">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Feliciano_Machado.jpg" >
                </div>
                <div>
					<h1>FELICIANO MACHADO BRAGA </h1>


<p>Mineiro de Montes Claros (MG), nasceu no dia 19 de setembro de 1914 e foi criado em Buriti Alegre (GO), onde cursou o ensino fundamental.  Fez o ensino médio  em Uberlândia (MG) e iniciou o curso de engenharia no Rio de Janeiro. Atendendo a uma solicitação do pai retornou a Buriti Alegre e o ajudou a cuidar de uma loja comercial. Com a venda da loja, Feliciano ficou livre para retomar os estudos. Em vez de continuar engenharia, Feliciano escolheu Direito e iniciou uma nova trajetória. </p>

<p>Fez o curso Direito da UFG e, depois de formado, foi trabalhar como advogado em Buriti Alegre, ao mesmo tempo que prestou concurso para Promotor de Justiça, sendo aprovado. Como promotor atuou em Pedro Afonso, Caldas Novas, e Paraúna até ser aprovado em novo concurso público para a magistratura. Iniciou a carreira como Juiz Substituto de Anápolis, em seguida foi transferido para a cidade de posse como Juiz de 1ª Entrância, cargo que ainda exerceu em Nerópolis e depois Porto Nacional, onde chegou, em 10 de setembro de 1955, para protagonizar um dos momentos mais importantes da luta pela criação do Estado do Tocantins. </p> 

<p>Em 1958, Feliciano se casa com Hermione de Carvalho Machado, com quem teve seis filhos - Brasil Tocantinense, Luzia América, Manoel Caetano, Benjamin, Feliciano e Cleanto. Em Porto Nacional, onde permaneceu até 1961, Feliciano alcança a notoriedade ao lançar o movimento pela autonomia do Norte de Goiás, hoje Tocantins. </p>

                </div>
            </div>
        </div>
		
		<div id="Francisco-Ayres">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Fco_Ayres_da_Silva_Dr_Chiquim.jpg" >
                </div>
                <div>
					<h1>FRANCISCO AYRES DA SILVA (Dr. Chiquim)</h1>


<p>A história do médico Francisco Ayres da Silva corresponde a uma parte da história de Porto Nacional e da antiga região norte do Estado de Goiás. Nasceu em 11 de setembro de 1872, na antiga Porto Imperial (hoje Porto Nacional). Filho do Cel. Joaquim Ayres da Silva e de Dona Rachel Pinto Cerqueira Ayres, começou os estudos em sua cidade natal, indo depois para a antiga capital do Estado, a fim de finalizar os estudos preparatórios. Seguiu então para o Rio de Janeiro, matriculando-se na Faculdade de Medicina e Farmácia. </p>

<p>Concluiu os estudos, em 1899, e voltou para Porto Nacional, onde exerceu a profissão de médico e de professor. Em 1902, tornou-se Conselheiro Municipal, e a partir de 1905, também jornalista. Foi um importante político na região, ocupando o cargo de deputado federal (a partir de 1914). </p>

<p>Foi o primeiro filho do norte de Goiás a formar-se em medicina. Mais importante ainda, foi ter voltado para sua terra natal, após o término do curso, exercendo com dignidade e humanidade sua profissão. Deixou como herança, para sua gente e para a memória, interessantes anotações de viagens pelo rio Tocantins com destino a Belém, em 1920, onde relata a epopeia de ter conseguido trazer a Porto Nacional, em 1928, um automóvel e um caminhão do Rio de Janeiro vindo pela Bahia, sem estrada e sem pontes. Anotações que deram origem à sua obra póstuma Caminhos de Outrora. </p>

<p>Hoje, Francisco Ayres da Silva dá nome a dois Hospitais Públicos  – O Hospital Geral de Palmas e o Hospital de Referência de Porto Nacional. </p>

                </div>
            </div>
        </div>
		
		
		
		
		
		<div id="Francisco-Aires-Neto">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Padrao.jpg" >
                </div>
                <div>
					<h1>FRANCISCO AIRES DA SILVA NETO</h1>


<p>Nascido em 25 de setembro de 1945, Francisco Aires da Silva Neto é filho de Newton Ayres da Silva e Adélia de Sena Ayres. Pertence a uma família de políticos: Joaquim Ayres da Silva, seu bisavô, foi constituinte em 1891; Francisco Ayres da Silva,  seu avô, foi deputado federal por Goiás de 1914 a 1930. </p>

<p>Seguiu os passos do avô e, sendo médico, ocupou vários cargos entre eles: chefe das unidades sanitárias da OSEGO, em Pindorama e Monte do Carmo; médico da unidade da OSEGO em Porto Nacional; diretor da Clínica São Vicente de Paula, em Porto Nacional, e médico do Sindicato Rural de Porto Nacional. </p>

<p>Na vida política e parlamentar foi deputado estadual, suplente da ARENA, 9.ª Legislatura, 1979-1983 e assumiu, em abril de 1981, na vaga de Domingos Venâncio de Almeida. É casado com Maria das Graças de Alencar Costa Ayres e tem três filhos: Walmer, Ilton e Liana. </p>

                </div>
            </div>
        </div>
		<div id="Felipe-Antonio-Cardoso">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Padrao.jpg" >
                </div>
                <div>
					<h1>FELIPE ANTONIO CARDOSO (Brigadeiro Felipe Cardoso)</h1>
<p>
O Brigadeiro Revolucionário Felipe Antônio Cardoso era filho de Rosa da Santa Lemos e do Capitão-Mor Domingos Antônio Cardoso, este, vindo de Portugal para as minas do Norte de Goiás. </p><p>

Assim, o Brigadeiro Felipe Antônio Cardoso, cedo mudou-se com a família para Arraias. Casou-se, primeiro, com Joana Crisóstomo Amado da Silva (em Arraias) e depois (em Itaberaí) com Maria Anastácia Bueno da Fonseca, com quem teve o filho Felipe Antônio Cardoso Santa Cruz que foi Diretor do Liceu de Goiás e Fundador do Seminário Arquidiocesano de Goiás. </p><p>

O Brigadeiro Felipe Antônio Cardoso tinha 27 anos, em 1800, quando ingressou no Regimento de Cavalaria da Capitania de Goiás, com sede em Arraias. No dia 13.05.1808, foi nomeado Primeiro Tenente. Foi promovido ao posto de Capitão em 10.05.1811, por portaria de Sua Majestade Imperial, Dom João VI. Residia em Vila Boa (Goiás Velho), quando o Brigadeiro Manoel Inácio Sampaio, último Capitão General, assumiu o Governo de Goiás, em 04.10.1820. </p><p>

Detido em várias ocasiões por levantar a bandeira separatista do Desembargador Joaquim Teotônio Segurado, como em 14 de agosto de 1821, quando foi preso e confinado em Arraias. Com os mesmos sentimentos libertários, estava o Capitão Francisco Xavier de Barros, que mandado preso para Santa Maria, na Ribeira do Rio Paraná, afluente do Rio Tocantins. Na ocasião, foram presos também alguns padres, entre os quais, José Cardoso de Mendonça, Lucas Freire de Andrade e Luiz Bartolomeu Marques. Ficaram presos por pouco tempo, porque logo no ano seguinte se deu a Independência do Brasil (07.09.1822). </p><p>

Enviado preso para a Capital Federal, Felipe Antônio Cardoso, depois de ser absolvido pelo Conselho de Guerra, no Rio de Janeiro, por injunções políticas, terminou por ser promovido a General em 12.10.1825, depois de ser absolvido pelo Conselho de Guerra, no Rio de Janeiro, tornando-se Governador das Armas da Província de Goiás, em 1830. </p><p>

Em 14.08.1831, deu um Golpe que afastou do Governo da Província de Goiás, o Brigadeiro Miguel Lino de Morais, colocando em seu lugar o Padre Luiz Bartolomeu Marques que governou durante quatro meses (agosto de 1831 a dezembro de 1831) e em cujo governo foi assassinado o Ouvidor Joaquim Teotônio Segurado (14.10.1831). </p><p>

Eleito Deputado Geral, Felipe Antônio Cardoso não tomou posse, assumindo em seu lugar, o suplente Dr. João Gomes Corumbá. </p><p>

Fez-se proprietário da Escola de Artífices e Aprendizagem de Goiás, posteriormente transformada em Escola Técnica de Goiânia. Foi também proprietário do jornal “O TOCANTINS” que publicava os ATOS OFICIAIS do Governo de Goiás. </p><p>

Reformado como Brigadeiro do Exército, faleceu em Goiás Velho, com 95 anos de idade, em 24 de julho de 1868. </p><p>

Na Academia Tocantinense de Letras, é Patrono da Cadeira 12, cujo Titular é Osvaldo Rodrigues Póvoa. </p><p><i>

Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005 </i></p>

                </div>
            </div>
        </div>
		<div id="Getulio-Matos">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Getulio Matos.jpg" >
                </div>
                <div>
					<h1>GETÚLIO ALVES MATOS </h1>


<p>Manoel Getúlio Alves Matos nasceu, em 1944, no garimpo de Piaus (hoje Pium), então município de Porto Nacional. Recebeu de seu pai a experiência teórica e prática da arte tipográfica e se iniciou politicamente, através da política estudantil, no grêmio São Tomás de Aquino, do Colégio Estadual de Porto Nacional e da Cenog. Depois, em Goiânia, consciente de seus deveres políticos em relação a sua terra e como secretário-geral da Cenog, funda o jornal Paralelo 13, em 1968, com o lema “Tudo pela redenção do norte goiano”, veiculando a defesa da criação do Estado do Tocantins. Anos depois, com Totó Cavalcante, na eleição deste para deputado funda o jornal Brasil Central. </p>

<p>De volta a Porto Nacional, por ocasião do assassinato de seu irmão, deu apoio total a sua família e instalou-se lá, definitivamente. Na década de 80, não querendo aderir a partidos políticos, mantém-se militante político independente, reunindo-se com outros jovens com a mesma identificação para falar da situação local e do norte goiano desprezado pelo governo sulista. O grupo se reunia como se fosse partido político, questionava, analisava e concluía o que, oportunamente, passava à frente, em conversas com outras pessoas. Era um trabalho de conscientização política, sem cunho ideológico, mas de caráter progressista para o então norte goiano. </p>

<p>Lentamente o grupo se ampliava e então aparece Vicentinho Alves que junta-se ao grupo e o convence a tornar-se um partido juridicamente constituído. Dessa forma, Getúlio Matos fundou o primeiro diretório do PDT, no então norte goiano, sendo o presidente da sigla e Vicentinho, delegado. </p>

<p>Após a criação do Estado do Tocantins, em Brasília, com o apoio da mídia nacional, liderado pelo então prefeito Vicentinho, os portuenses conseguiram atrair e defender, junto ao Ministério do Exército, Congresso Nacional e Presidência da República, a construção da Capital do novo Estado no centro do seu território, o que foi, concretizado pelo então governador José Wilson Siqueira Campos. </p>

<p>Dentre os cargos mais importantes que exerceu estão Secretário de Administração do prefeito Manoel Reis, em Cristalândia e chefe de Gabinete do prefeito Vicentinho Alves, em Porto Nacional. </p>

                </div>
            </div>
        </div>
		<div id="Goianyr">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Goianyr.jpg" >
                </div>
                <div>
					<h1>GOIANYR BARBOSA DE CARVALHO</h1>


<p>Goianyr Barbosa nasceu em 8 de janeiro de 1962, em  Almas, Tocantins, sendo filho de Gumercindo Alves de Carvalho e Angelina Barbosa de Carvalho. </p>

<p>Em 1982, quando estava com 19 anos, elegeu-se vereador na cidade Almas. Na eleição seguinte para prefeito, realizada em 1988, foi eleito prefeito de Almas. Formado em administração e jornalismo pelo Centro Universitário Luterano de Palmas, especializou-se em Marketing Político e Marketing Empresarial na Faculdade Católica do Tocantins. </p>

<p>Em 1991, gravou o seu primeiro disco pela RCA, com músicas de sua autoria e de compositores renomados. Foi reconhecido com a música "Saudade do Meu Sertão". </p>

<p>Em 2012, foi diretor-geral da Câmara de Vereadores de Palmas (no cargo pela segunda vez) e atualmente é Assessor Especial da vice-governadoria. Nos últimos quatro anos, desempenhou o cargo de diretor de comunicação na Associação Tocantinense de Municípios (ATM). </p>

<p>Casou-se com Márcia Barbosa Castro de Carvalho, com quem tem dois filhos: Ludmilla Castro de Carvalho e Thiago Marcos Barbosa de Carvalho. Atende pelo e-mail: goianyrb@gmail.com
</p>

                </div>
            </div>
        </div>
		<div id="Euvaldo-Tomaz-de-Souza">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Euvaldo-Tomaz-de-Souza.jpg" >
                </div>
                <div>
					<h1>EUVALDO THOMAZ DE SOUSA </h1>
<p> O médico Euvaldo Thomaz de Souza foi político de destacada atuação no cenário regional na segunda metade do século XX. É bisneto de Joaquim Ayres da Silva, o primeiro intendente municipal de Porto, ao tempo da Proclamação da República, e neto do Dr. Chiquinho Ayres, outro chefe político de grande influência na política do Estado desde o começo deste século. </p><p>

Euvaldo foi eleito prefeito em surpreendente votação, exercendo seu mandato no período de 1983-1987. Sua administração, apresentou muitas realizações. As metas perseguidas mostraram que o governo municipal tinha por princípio básico a valorização de homem, dada a municipalização da saúde e da educação, sem contudo, descuidar do desenvolvimento dos setores da produção e dos meios de transportes. Desta forma, na sua gestão criaram-se escolas, postos de saúde e área de lazer em vários bairros da cidade bem como instalação de creches e cursos pré-escolares. </p><p>


Buscando a melhoria do padrão de vida nos povoados do município, instalaram-se grupos geradores de energia elétrica e abriram-se vários poços artesianos para provimentos de água potável. No campo da produção, o município esteve presente na abertura e conservação de estradas, construção de pontes e aquisição de patrulha rodoviária. Asfaltou ou bloqueteou várias ruas e logradouros públicos, canalizou águas fluviais e prosseguiu a arborização da cidade. Dentre as realizações da gestão de Euvaldo, destaca-se a construção da Rodoviária. </p><p>


No setor de esportes e lazer foi construído um ginásio de esportes com área coberta e instalação de Parques Infantis. No campo da saúde, merece destaque a recuperação do Hospital da OSEGO e a reativação da Escola Auxiliar de Enfermagem. Confirmando o conceito de que Porto é reconhecido como polo cultural, o prefeito empenhou-se pela implantação do Campus Avançado da UFG e funcionamento da Faculdade de Filosofia. No tocante à preservação da memória histórica de Porto Nacional, Euvaldo demonstrou sensibilidade instalando bibliotecas e patrocinando a publicação de obras sobre a história de Porto Nacional. </p>



                </div>
            </div>
        </div>
		<div id="Fabricio-Cesar-Freire">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Fabricio_Cesar_Freire_PeB.jpg" >
                </div>
                <div>
					<h1>FABRICIO CÉSAR FREIRE</h1>
<p>
Natural de Butirana, Colinas do Maranhão em 29.03.1893. Ficou órfão de pai aos 5 anos de idade, sendo criado pelos avós. Após os estudos primários em sua terra natal, peregrinou por várias partes do Brasil. Nos idos de 1906, quando tinha 13 anos de idade, foi para Manaus, morar com um tio e trabalhar com o primo Agostinho César de Oliveira, dono de Tipografia, estudando no Colégio Anacleto Queiroz, onde foi aluno de Geometria do poeta Maranhão Sobrinho, quando também se tornou Tipógrafo, conforme a página 84, do livro “Homenagem Póstuma à Memória de Nelson Maranhão” (1996), da autoria de seu filho Alfredo Maranhão. </p><p>

Em 1910, foi para o Acre, onde pegou malária. Em 1911, mudou-se para Quixeramobim, no Ceará. Em 1912, foi para São Bento da Lajes, Bahia, matriculando-se na Escola Agrícola. Sem terminar a Escola, mudou-se para Belo Campo, perto de Vitória da Conquista. Em 1914, viveu em Feira de Santana, na Bahia. Em 1915, com 22 anos de idade, fundou o Colégio Pestalozzi, em Vitória da Conquista, Bahia, fechado em 1918, por causa da Gripe Espanhola. </p><p>

Depois de passar por Gameleira dos Machados, também na Bahia, lecionou no Colégio Figueiredo, de Salvador, Capital baiana. </p><p>

Voltou para a sua terra natal (Colinas do Maranhão), onde se casou a primeira vez. Passou por Coroatá e radicou-se em Riachão, no Maranhão, onde se tornou Adjunto de Promotor. </p><p>

Esteve em Balsas e depois em Carolina, no Maranhão. Nesta cidade, entre 1926 e 1930, foi professor do “Colégio Infantil” e fundou, juntamente com o professor José Queiroz, o “INSTITUTO RENASCENÇA”, onde estudaram quase todos os filhos de Nelson Maranhão, entre os quais, Alfredo Maranhão, Carlos, Bernardino, Sofia, Laura, Dionéia, Enóe, Maurina e Lenita. </p><p>

Em Carolina, em 1927, quando já tinha 34 anos de idade, foi nomeado Escrivão de Coletoria Federal e no dia 10.04.1927, casou-se, pela segunda vez, com Margarida de Oliveira Freire, com quem teve vários filhos. Em 1942, foi nomeado Coletor Federal, indo para Balsas, no Maranhão. </p><p>

Em 1948, foi transferido para Porto Nacional, onde viveu por muitos anos, até 1982, quanto foi para Goiânia. Aposentou-se em 1963, dedicando-se totalmente ao jornalismo. </p><p>

Na antiga Porto Real ou Porto Imperial, tornou-se um dos fundadores, ao lado de Osvaldo Ayres da Silva, da Associação Tocantinense de Imprensa, de que também foi Presidente, com sede em Porto Nacional, na década de 1950. </p><p>

Também professor de vários estabelecimentos de ensino em Porto Nacional, entre os quais, Colégio Estadual e Colégio Sagrado Coração de Jesus, de que também foi Inspetor Federal de Ensino. </p><p>

Jornalista, Escritor, Ensaísta. Pesquisador, Memorialista, Idealista. Visionário, Produtor Cultural, Fiscal de Rendas. </p><p>

Foi um dos redatores, ao lado de João Matos Quinaud, do jornal “O Estado do Tocantins”, do Juiz de Direito de Porto Nacional, Feliciano Machado Braga, no período de 1956 e até 1961, quando este foi promovido para a Terceira Vara Civil da Comarca de Anápolis. Relembre-se que o jornalista Otávio Barros transformou o seu jornal Tribuna da Amazônia, fundado em 1973, no jornal O Estado do Tocantins, em 1975. </p><p>

Recebeu da Câmara Municipal de Porto Nacional, em 1977, o título de “Cidadão Portuense”. </p><p>

Mudou-se para Goiânia, em 1982. Faleceu na Capital de Goiás, no dia 15.10.1984. Escreveu, entre outros, “Manifesto Tocantinense”, sem dados biográficos. Conforme alguns autores, teria nascido em Feira de Santana ou Vitória da Conquista, o que não tem procedência. Apenas viveu algum tempo nestas duas cidades baianas. </p><p>

É estudado no Dicionário Biobibliográfico de Goiás, de Mário Ribeiro Martins. Mencionado nos livros “Breve História do Tocantins e de sua Gente - Uma Luta Secular”, de Otávio Barros e “História Didática do Tocantins”, de Liberato Póvoa, além de “História de Porto Nacional”, de Durval Godinho, bem como “Homenagem Póstuma à Memória de Nelson Maranhão”, livro organizado pelo seu filho Alfredo Maranhão. </p><p>

Na Academia Tocantinense de Letras é Patrono da Cadeira 36, atualmente (2001) ocupada pelo escritor Francisco Mendonça, natural de Paraisópolis (1928), Minas Gerais e que foi o responsável pela mais importante pesquisa sobre a vida de Fabrício César Freire, levantando fatos que não se encontram em livros, mas que foram colocados em seu discurso de posse na Academia. </p><p>

Biografado no Dicionário Biobibliográfico do Tocantins, de Mário Ribeiro Martins, Master, Rio de Janeiro, 2001. </p><p>

Apesar de sua importância, não é suficientemente estudado na Enciclopédia de Literatura Brasileira, de Afrânio Coutinho, edição do MEC, 1990, com revisão de Graça Coutinho e Rita Moutinho, em 2001, ou no “Dicionário Histórico-Biográfico Brasileiro”, da Fundação Getúlio Vargas, publicado em 2002 e nem é convenientemente referido, em nenhuma das enciclopédias nacionais, Delta, Barsa, Larousse, Mirador, Abril, Koogan/Houaiss, Larousse Cultural, etc. </p><p>


<i>Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005.</i> </p>


                </div>
            </div>
        </div>
		<div id="Hagaus_Araujo">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Hagaus_AraujoPeB.jpg" >
                </div>
                <div>
					<h1>HAGAÚS ARAÚJO </h1>


<p>Hagaús Araújo é filho de José Araújo e Silva e de Amélia Araújo Póvoa. Trabalhou no Serviço de Assistência a Menores no Rio de Janeiro e em Goiás até chegar a Dianópolis onde fundou e dirigiu o Instituto do Menor (1952-1963) e assumiu a presidência do Centro de Atividades Penitenciárias Industriais do Estado de Goiás (CEPAIGO) em 1964, mesmo ano em que foi eleito prefeito de Dianópolis pelo PSP. </p>
<p>Afastado da política durante a maior parte do Regime Militar de 1964 ingressou no PMDB e foi eleito deputado estadual por Goiás em 1982. Ao assumir o mandato licenciou-se para assumir a Secretaria do Desenvolvimento Social nas últimas semanas do governo Ary Valadão, embora este fosse filiado ao PDS. Mantido no cargo até 1985 pelo governador Iris Rezende foi reeleito deputado estadual em 1986. Criado o estado do Tocantins em 1988 foi derrotado na eleição para senador. </p>
<p>Eleito suplente de deputado federal pelo Tocantins em 1992 exerceu o mandato durante a maior parte da legislatura em lugar de Merval Pimenta que se afastou para ocupar a Secretaria de Saúde no governo Moisés Avelino sendo efetivado após a renúncia de Derval de Paiva em novembro de 1994. Durante sua passagem pela Câmara dos Deputados votou pela abertura do processo de impeachment do presidente Fernando Collor em 1992 não disputando a reeleição em 1994. Após o fim do mandato foi assessor do Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis (IBAMA) no Governo Fernando Henrique Cardoso. </p>

                </div>
            </div>
        </div>
		<div id="Henrique-Santillo">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Henrique-Santillo4.jpg" >
                </div>
                <div>
					<h1>HENRIQUE SANTILLO</h1>


<p>Político influente radicado no Estado de Goiás, foi durante o seu mandato de governador do Estado que houve o desmembramento do Goiás  para formar o atual Estado do Tocantins, sendo portanto o último governador goiano a governar sobre tal região. </p>

<p>Já durante a campanha eleitoral, em 1986, como candidato, se comprometeu a lutar pela criação do Estado do Tocantins. E logo que assumiu o Palácio das Esmeraldas, Santillo passou a cumprir a promessa. Nos primeiros meses de 1987, toda a máquina do governo de Goiás estava à disposição da Conorte e de todas as lideranças nortenses que lutavam pela criação do Estado do Tocantins. Além disso, colocou à disposição da Comissão de Estudos duas salas do Escritório de Representação do governo de Goiás, em Brasília. </p>

<p>Henrique Santillo constituiu-se, assim, no primeiro governador de Goiás a dar apoio concreto ao movimento separatista dos nortenses. Esse atitude do Governador goiano criou um clima de ampla cordialidade entre as duas unidades da Federação – Goiás e Tocantins. </p>

                </div>
            </div>
        </div>
		<div id="Hosterno-Pereira-da-Silva">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Hosterno_Pereira_da_Silva.jpg" >
                </div>
                <div>
					<h1>HOSTERNO PEREIRA DA SILVA</h1>


<p>Hosterno Pereira da Silva foi prefeito municipal de Porto Nacional no período de 1961 a 1965. Jovem, inteligente, espírito desportista, iniciou a administração pelo planejamento das solenidades de comemoração do primeiro centenário de elevação de Porto à categoria de cidade. Em razão desse acontecimento, o governo do Estado transferiu, simbolicamente, a sede da administração estadual para Porto Nacional. </p>
<p>Embora tenha iniciado a gestão em clima de esperança, e tivesse espírito conciliador e cordial, não conseguiu terminar o mandato. Deixou os líderes de seu partido descontentes, o que culminou com a renúncia do cargo. </p>

                </div>
            </div>
        </div>
		<div id="Iara-Braga">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Iara-Braga.jpg" >
                </div>
                <div>
					<h1>IARAIRENE  BRAGA</h1>


<p>A professora, educadora e militante política Iarairene Costa Braga nasceu na fazenda Gurgulho, à margem esquerda do rio Tocantins, no munícipio de Porto Nacional, a 1º de dezembro de 1950. Filha de Sebastião Teixeira Vilarinho e Narcisa Costa Teixeira, é primogênita de dez irmãos: Ivone, Ilda, Irany, Irenice, Ivanilde, Raimundo Ilton, Ilneide, Ilene e Ildecê. Ela foi casada com José Bartoldo Braga Aires e teve quatro filhos, Susley, Breno, Thusley e Joaquim Braga, tendo quatro netos: Beatriz, Gustavo, Amanda e Aline. </p>

<p>Iara foi alfabetizada por sua mãe e por sua avó, a também professora Maria Tely, ainda no sertão. Em 1957, mudou-se para a cidade estudando no antigo prédio D. Pedro II, na rua do Cabaçaco. Em 1958, cursou a escola Batista e, em 1959, foi para o Colégio das Irmãs Dominicana, onde concluiu o magistério e ao mesmo tempo o curso técnico em contabilidade no Colégio Estadual, hoje CEM Florêncio Aires. </p>

<p>Estudante aguerrida e ligada aos movimentos estudantis de 1964, participou de encontros em várias cidades do norte goiano, e em outros Estados da região Centro Oeste e Norte em prol da melhoria de vida da classe estudantil, com a politização do direito ao acesso ao 2º grau e a universidade gratuita, de onde surgiu a Casa do Estudante do Norte Goiano (Cenog) que muito fortaleceu a intelectualidade dos estudantes nortenses, onde Porto Nacional, o centro da educação, recebe o nome de Berço da Cultura. </p>

<p>Participante ativa dos movimentos da luta libertária do Estado do Tocantins, sempre teve acesso aos mentores da ideia de criação do Estado novo na Associação Tocantinense de Imprensa, como Fabrício César Freire e Osvaldo Ayres da Silva, e no jornal periódico A Voz do Tocantinense, cantando em parceria com a colega Creuza Ayres da Silva. </p>

<p>Entre vários títulos recebeu, no dia 19 de junho de 2008, a Comenda Francisco Ayres da Silva, entregue pelo grão-mestre, o prefeito de Porto Nacional. </p>

<p>Iara formou-se em Letras na Faculdade de Filosofia do Norte Goiano, em 1985. Fez pós-graduação em administração e supervisão escolar e metodologia do ensino médio e superior, pelo Faculdade de Filosofia, Ciências e Letras de Patrocínio-Latu Sensu, concluído em 1993; fez curso de gestão em Educação no Ceteb-Procapa e História da África, da cultura negra e do negro no Brasil (pós-graduação pela Universidade Federal do Tocantins). </p>

<p>A veia artística de Iara mostra-se de várias formas. Ela compôs dois sambas que falam de momentos importantes de Porto Nacional como Inconsciência (que fala da Casa do Estudante do Norte Goiano) e Feliz Aniversário, feito no 123º aniversário da Cidade, ocorrido em 1984. </p>

<p>Dentre os vários projetos como vereadora, destacam-se dois em homenagem às mulheres: o Projeto de Lei nº 024/08 de autógrafo de Lei nº 1966, que institui o dia 05 de outubro, Dia Municipal da Mulher Portuense e o Projeto de Lei nº 029/08, que institui a Comenda de Distinção Honorífica aos munícipes de Porto Nacional com o Diploma Vereadora Eulina da Silva Braga - “Mãe Tia”, no mesmo autógrafo de Lei.</p>

                </div>
            </div>
        </div>
		<div id="Izabel-Dias-Neves">
            <div>
                <div>
                    <img src="imagens-conteudo/herois-tocantins/parte-i/Izabel_Dias_Neves.jpg" >
                </div>
                <div>
					<h1>ISABEL DIAS NEVES (BELINHA)</h1>
</p><p>
Nasceu em Tocantinópolis, Tocantins, no dia 31 de outubro de 1935.Filha de Luiz Neves e Marcelina Dias Neves. Passou a infância e adolescência em sua terra natal, onde estudou no Grupo Escolar Nero Macedo. Deslocou-se para Porto Nacional, tendo estudado no Ginásio Nossa Senhora das Mercês. </p><p>

Concluiu o curso normal, no Colégio Santa Clara, em Goiânia. Formou-se em Pedagogia, pela Universidade Católica de Goiás. Professora da Faculdade de Educação da Universidade Federal de Goiás, bem como da Universidade Católica. Curso de Mestrado na Pontifícia Universidade Católica do Rio de Janeiro (PUC), na área de Educação. </p><p>

Escritora, Poetisa, Ensaísta. Pesquisadora, Memorialista, Intelectual. Pensadora, Ativista, Produtora Cultural. Literata, Cronista, Contista. Administradora, Educadora, Ficcionista. Inserida nos livros Estudos Literários de Autores Goianos e Escritores de Goiás, de Mário Ribeiro Martins. </p><p>

Presente na Estante do Escritor Goiano, do Serviço Social do Comércio e em diversos textos de poesia e prosa. Membro da Associação dos Docentes da UFG, além de outras instituições sociais, culturais e de classe, entre as quais, União Brasileira de Escritores de Goiás. </p><p>

Fez viagens de turismo e culturais por diferentes países, entre os quais, Inglaterra, Holanda, França, Suíça, Bélgica, Espanha e Portugal. </p><p>

Aposentada da Universidade Federal de Goiás, onde foi docente por muitos anos, passou a viver também em sua terra natal, Tocantinópolis, onde tomou posse como membro da Academia Tocantinense de Letras, com sede em Palmas, nova Capital do Estado do Tocantins. A posse foi em Tocantinópolis, no dia 25.04.1998. </p><p>

Acha-se na antologia Goiás - Meio Século De Poesia, de Gabriel Nascente, no Dicionário do Escritor Goiano, de José Mendonça Teles, no Dicionário de Escritoras Brasileiras, de Nelly Novaes Coelho. É estudada no Dicionário Biobibliográfico de Goiás, de Mário Ribeiro Martins. Em 2000, retornou a Goiânia, onde passou a desenvolver novas atividades profissionais e literárias. Nos anos seguintes, mudou-se para Palmas, no Tocantins. </p><p>

Na Academia Tocantinense de Letras é Titular da Cadeira 34, cujo Patrono é Manoel de Souza Lima. Para esta Cadeira foi eleita e tomou posse no dia 25.04.1998, em sua terra natal, Tocantinópolis. conforme o livro Perfil da Academia Tocantinense de Letras, de Juarez Moreira. </p><p>

Biografada no Dicionário Biobibliográfico do Tocantins, de Mário Ribeiro Martins, MASTER, Rio de Janeiro, 2001. </p><p>

Casou-se com o acadêmico Engenheiro Francisco Mendonça, de quem se separou algum tempo depois. Já havia se mudado para Palmas, onde, no ano de 2004, foi eleita Presidente da Academia Tocantinense de Letras, em substituição ao acadêmico Juarez Moreira Filho. </p><p>

Escreveu "Fardo Florido"(Poemas-1995) e “Rasas Raízes” (contos). </p><p>


<i>Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005. </i></p>

                </div>
            </div>
        </div>
    </body>
</html>