<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>HERÓIS DO TOCANTINS</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>HERÓIS DO TOCANTINS</h1>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="container" id="Mary-Sonia-Matos-Valadares">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Mary-Sonia.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
                 <h1 class="h1-tamanho">MARY SÔNIA MATTOS VALADARES</h1>
<p class="text-justify">
Nasceu em Tocantinópolis, Tocantins no dia 2 de fevereiro de 1944. Filha de Saldanha Dias Valadares e Heloisa Matos Valadares. </p><p class="text-justify">

Bacharel em Ciências Jurídicas e Sociais pela Faculdade de Direito, da Universidade Católica de Goiás, em 1971, quando tinha 27 anos de idade. Funcionária Pública Estadual, vinculada ao Tribunal de Contas do Estado do Tocantins. </p><p class="text-justify">

Quando estudante em Goiânia, foi Secretária Geral da CONORTE (Comissão de Estudo dos Problemas do Norte Goiano). No desejo de reforçar o Comitê Pró-Tocantins, criou a União Tocantinense. Esteve também vinculada à CENOG (Casa do Estudante Norte-Goiano). </p><p class="text-justify">

Advogada, Professora, Escritora. Ensaísta, Pesquisadora, Memorialista. Produtora Cultural, Ativista, Pensadora. Literata, Cronista, Contista. Administradora, Educadora, Ficcionista. Conferencista, Oradora, Intelectual.  Resied em Palmas, no Estado do Tocantins, onde se dedica à advocacia. </p><p class="text-justify">

Referida em todos os livros que tratam da criação do Tocantins, entre os quais, Breve História do Tocantins e de Sua Gente - Uma Luta Secular, de Otávio Barros, História Didática do Tocantins, de Liberato Póvoa e Tocantins - Eu Também Criei, de José Carlos Moura Leitão. </p><p class="text-justify">

Membro de diferentes agremiações sociais, culturais e de classe, entre as quais, Instituto dos Advogados do Tocantins, Instituto Histórico e Geográfico do Tocantins e Academia Tocantinense de Letras, do qual foi residente em 2000. </p><p class="text-justify">

É funcionária do Tribunal de Contas do Estado do Tocantins. </p><p class="text-justify">

Foi Presidente do Conselho Municipal de Cultura do Município de Palmas.  Na Academia Tocantinense de Letras é Titular da Cadeira 13, cujo Patrono é João de Souza Lima. Escreveu, entre outros, “Discurso de Posse”. </p><p class="text-justify"><i>

Fonte: Mário Ribeiro Martins, Retrato da Academia Tocantinense de Letras, 2005. </i></p>

                </div>
            </div>
        </div>
		
		
        <div class="container bloco-bio" id="Olegario-Jose-Oliveira">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Olegario_Jose_Oliveira_PeB.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
                  <h1 class="h1-tamanho">OLEGÁRIO JOSÉ DE OLIVEIRA</h1>

<p class="text-justify">Bisneto do primeiro intendente municipal de Porto - o político Cel. Joaquim Aires da Silva, e filho do ilustre ex-prefeito Antônio José de Oliveira, o jovem Olegário realizou profícua administração municipal. Seu mandato foi marcado por importantes realizações como a construção da Praça do Centenário, calçamento e arborização de ruas.</p>
<p class="text-justify">Construiu nos vários distritos e povoados postos de saúde, prédios escolares, pontes e estradas para escoamento da produção agrícola. Incentivou a realização de exposições agropecuárias e fundação de sindicato e organismos de defesa do trabalhador rural. </p>


                </div>
            </div>
        </div>
		<div class="container bloco-bio" id="Osvaldo-Ayres">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Osvaldo_Ayres.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
					<h1 class="h1-tamanho">OSVALDO AYRES DA SILVA  </h1>

<p class="text-justify">Osvaldo Ayres da Silva nasceu em 30 de novembro de 1905. Político, jornalista, literato, pesquisador e defensor da criação do Estado do Tocantins. Filho de Francisco Ayres da Silva e Angélica Ribeiro Aranha teve intensa participação na vida política, partidária e cultural de Porto Nacional, antes e depois de se formar em farmácia e bioquímica, em Ouro Preto/MG, em 1930. Casou-se, em maio de 1937, com Zilda Prado Ayres.</p>

<p class="text-justify">Jornalista atuante foi o fundador da Associação Tocantinense de Imprensa - ATI. Escreveu reportagens e artigos para vários jornais como Norte de Goyaz, fundado pelo seu pai Francisco Ayres da Silva; para o “Voz do Tocantins”, “Ecos do Tocantins”, e “A Norma”, do qual foi fundador, no ano de 1953, para defender a divisão de Goiás e a criação do Estado do Tocantins. </p>
<p class="text-justify">
Quando estudante, fundou o jornal O Porvir, em 1922, editado nas oficinas do jornal Norte de Goyaz até o ano de 1924, quando saiu de Porto para estudar. Também trabalhou no jornal Polichinelo, manuscrito para leitores jovens, fundado e dirigido por Joaquim Ayres da Silva em 1919. Foi sócio colaborador do jornal Grêmio, feito pelos estudantes universitários de Ouro Preto/MG.</p>
<p class="text-justify">
Na vida política, foi eleito vereador, em 1935, pela União Republicana Portuense - URP, chegando a presidir a Câmara Municipal por dois anos. Em 1940, por decreto de Pedro Ludovico Teixeira, Osvaldo Ayres foi nomeado para o cargo de prefeito de Porto Nacional, gestão 1940 a 1944. Inteligente, culto, obstinado e dinâmico empreendeu e inaugurou o serviço de luz elétrica da cidade. Durante seu governo soube impor a presença da administração nos ricos garimpos de cristal de rocha surgidos em vários pontos do município. 
</p>
<p class="text-justify">
Nos anos 70, ainda passou a editar Notícias Fac-similadas, periódico com apanhado de notas e informações contra o atraso do Norte goiano. Osvaldo Ayres integrou a Associação Brasileira de Imprensa em 1959.</p>


                </div>
            </div>
        </div>
		
		<div class="container bloco-bio" id="Otavio-Barros">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/OtavioBarros_ft.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
					<h1 class="h1-tamanho">OTÁVIO BARROS DA SILVA  </h1> 

<p class="text-justify">Otávio Barros da Silva nasceu no dia 20 de novembro de 1941, na cidade de Ouricuri, Sertão do Araripe, no Estado de Pernambuco. É filho de Chico Netto (Francisco Pedro da Silva Netto), deputado estadual, escritor e jornalista, e Maria Generoza Pereira de Barros, do lar, e mais conhecida como Dona Marú.</p>

<p class="text-justify">Foi correspondente do “Diário de Pernambuco” e “Jornal do Commercio” em Ouricuri. Quando estudante, em Recife, foi fundador e presidente da Residência Estudantil de Pernambuco, no ano de 1964, e ligado às atividades estudantis de Dom Helder Câmara, arcebispo de Olinda. Nesse período, é ameaçado de prisão pelo Exército, como “estudante subversivo”. </p>

<p class="text-justify">Antes de fixar residência em Araguaína, Otávio Barros percorreu o Brasil exercendo seu ofício de jornalista nos estados do Rio de Janeiro, São Paulo, Mato Grosso, Pará, Piauí e Maranhão.</p>

<p class="text-justify">No ano de 1972, foi correspondente em Araguaína do semanário “Tribuna de Carolina”. Lá, no ano de 1973, fundou o semanário “Tribuna da Amazônia” porta-voz de criação do Estado do Tocantins. Dois anos depois, ainda em Araguaína, fez circular o semanário O Estado do Tocantins, considerado o jornal mais antigo em circulação.</p>

<p class="text-justify">No ano de 1989, lançou o jornal Folha de Palmas, para homenagear a nova capital do Estado a ser construída na área do município de Taquaruçu do Porto.</p>

<p class="text-justify">No ano de 1994, em Carolina/MA, lançou o jornal O Estado do Maranhão do Sul, veículo porta-voz da divisão do Estado do Maranhão, sendo o seu fundador, diretor e editor-geral.</p>

<p class="text-justify">No ano de 1997, fez viagem de estudos em Portugal, quando retornou com vasta documentação sobre a vida do ouvidor Joaquim Theotônio Segurado.</p>

<p class="text-justify">No ano de 2000, recebeu o primeiro Prêmio Qualidade Imprensa, da Federação das Indústrias do Estado do Tocantins. No ano seguinte, foi eleito Patrono dos primeiros formando de Comunicação Social (UNITINS) no Estado do Tocantins. Anos depois foi homenageado pelo governo estadual com o título de Comendador. </p>

<p class="text-justify">Silva é membro fundador do Instituto Histórico e Geográfico do Estado do Tocantins (1989); membro fundador do Sindicato dos Jornalistas Profissionais do Estado do Tocantins (1993) e membro do Conselho Estadual de Cultura (1994). Ocupa a Cadeira 38 da Academia Tocantinense de Letras, cujo patrono é o jornalista e escritor portuense Oswaldo Ayres da Silva.</p>


<p class="text-justify">É autor de Dicionário do Tocantins (1994), Literatura do Tocantins (1994), Cultura Popular do Tocantins (1994), Breve História do Tocantins (1ª ed. 1997 e 2ª ed. 1998), Tocantins - Conhecendo e Fazendo História (1998) e Cronologia Histórica do Estado do Tocantins (2007), História da Imprensa no Tocantins (2003), Petite Histoire du Tocantins (2005),  A Nova História do Tocantins (2009), Presença da França no Tocantins (2012), História do Ministério Público do Tocantins, MPTO (2012), A Nova História do Tocantins (2008), Memórias do Tocantins  (2014), além de ser editor do Jornal O Estado do Tocantins.</p>

<p class="text-justify">O escritor atualmente está concluindo o livro A Nova História do Tocantins, obra que narra as histórias sobre o antigo Norte goiano e o atual Estado do Tocantins. </p>


                </div>
            </div>
        </div>
		
		<div class="container bloco-bio" id="Otoniel-Andrade">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Otoniel_Andrade_PeB.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
					<h1 class="h1-tamanho">OTONIEL ANDRADE COSTA </h1>

<p class="text-justify">Otoniel Andrade Costa nasceu em 1960, em Brejinho de Nazaré, então Distrito de Porto Nacional, filho de Antônio Poincaré de Andrade, líder político de toda região, e Dinorah José Costa, professora e também militante popular.</p>

<p class="text-justify">Em Porto Nacional, incentivado pelos pais, frequentou as várias escolas da região, dentre elas a Escola Batista, o Colégio D. Pedro II e o Colégio Sagrado Coração de Jesus, onde se preparou para ingressar em uma faculdade de reconhecimento nacional.</p>

<p class="text-justify">No final da década de 1970, como faziam todos os jovens portuenses que buscavam continuidade nos estudos, mudou-se para Goiânia, onde manteve o foco no futuro e ali, na companhia de outros tantos idealistas, oriundos do então norte goiano, fortaleceu a ideia separatista e liderou vários movimentos pela criação do Estado do Tocantins.</p>

<p class="text-justify">Como aluno do curso de engenharia civil, na Universidade Católica de Goiás, liderou o movimento estudantil da capital goiana, período em que foi morador da Casa dos Estudantes Universitários (CEU), instituição que presidiu com destaque, realizando ali uma marcante gestão, o que o credenciou a buscar mais espaços nos movimentos populares, inclusive militando dentro de importantes partidos políticos de Goiânia e mais tarde do então Norte do Estado de Goiás, hoje Estado do Tocantins.</p>

<p class="text-justify">Ao concluir o curso de engenharia civil, Otoniel Andrade se constituiu rapidamente em um profissional requisitado e logo se consolidou empresarialmente no então Norte goiano, especificamente em sua amada Porto Nacional, onde continuou militando politicamente e apoiando as ações do então deputado federal José Wilson Siqueira Campos, que no Congresso Nacional defendia a criação do Estado do Tocantins.</p>

<p class="text-justify">Com a criação do Tocantins, Otoniel  Andrade,  integrante desta luta libertária, se destacava a cada dia nos movimentos para a implantação do desenvolvimento na nova unidade federativa do Brasil e isso o condicionou a buscar uma vaga de deputado estadual, o que aconteceu em 1990, quando se elegeu com expressiva votação.</p>

<p class="text-justify">Nas eleições seguintes, 1994, Otoniel Andrade foi novamente respaldado pelo voto popular, e se reelegeu deputado estadual para dar continuidade a uma expressiva atuação, momento em foi autor de importantes proposituras que proporcionaram mais qualidade de vida ao povo tocantinense.</p>

<p class="text-justify">Já reconhecido como um homem do povo, carismático e líder atuante, nas eleições municipais de 1996, Otoniel Andrade foi eleito prefeito de Porto Nacional e neste mandato imprimiu a mais ousada administração da centenária história deste município. No pleito seguinte, 2000, foi reeleito e promoveu continuidade na gestão que mudou a cara deste importante polo cultural, social e político.</p>

<p class="text-justify">Eleito novamente, em 2012, pela vontade do povo, ele retorna à Prefeitura de Porto Nacional, para exercer o seu terceiro mandato e já demonstra que o desenvolvimento estará definitivamente na ordem do dia, o que certamente deixará seu nome mais uma vez escrito na história desta vanguardista comunidade.</p>

<p class="text-justify">É casado com Terezinha Andrade, assistente social e advogada, e tem três filhos: Letícia Andrade, Otoniel Andrade Filho e Heitor Andrade.</p>


                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Paulo-da-Costa">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-autor-foto" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Paulo-da-Costa.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h1 class="h1-tamanho">PAULO DA COSTA  </h1>

<p class="text-justify">Membro-fundador da CONORTE, Paulo da Costa nasceu na Paraíba, mas conhece a região desde o tempo em que Bernardo Sayão e sua equipe implantavam a Belém-Brasília. Economista com experiência em Análise Financeira e Auditor fiscal do Tesouro do Distrito Federal com  especialização em Administração Tributária deu uma grande contribuição à causa nortense.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Rosa-da-Silva">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-autor-foto" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Rosa-da-Silva-Aquino.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h1 class="h1-tamanho">ROSA DA SILVA AQUINO  </h1>

<p class="text-justify">Natural de Monte do Carmo, Rosa da Silva Aquino foi segunda tesoureira da Conorte. Formada em contábeis pelo CEUB/DF com pós-graduação em Auditoria Interna e Externa. </p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Ruy-Rodrigues-Silva">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Ruy_Rodrigues_Silva_PeB.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
					<h1 class="h1-tamanho">RUY RODRIGUES DA SILVA  </h1>

<p class="text-justify">Ruy Rodrigues da Silva natural de Porto Nacional é educador, gestor de escolas públicas desde a década de 50, gestor de Projetos de Desenvolvimento e Ajuda Internacional para Organismos Internacionais como a CIMADE, professor da Universidade Federal de Goiás, professor no "Institut de Recherche en Sciences Sociales de Montrouge – Région Parisienne, palestrante na Organização Internacional do Trabalho em Genebra – Suiça.</p>

<p class="text-justify">Criou a Casa do Estudante Norte Goiano (Cenog), com sede em Goiânia/GO e filiais em Pedro Afonso, Dianópolis, Miracema, Porto Nacional e Rio de Janeiro. A Cenog passou a publicar o jornal Paralelo 13, focalizando a criação do novo Estado (Tocantins), sendo extinta pelo regime militar, após a revolução de 1964.     </p>
<p class="text-justify">
Foi fomentador de cooperativas de produção agrícola, construção civil, artesanato (guiné-bissau), exploração agrícola com utilização de energia eólica e piscicultura, dentre outras áreas. Traz no currículo o fato de ter sido criador do Projeto DIOP - que implantou a primeira sala de Cirurgia Oftalmológica Móvel do mundo no Senegal, ainda na década de 70.
</p>
<p class="text-justify">Desenvolveu inúmeros projetos de desenvolvimento de energias alternativas como a energia solar para regiões do Centro-Oeste africano e do Vietnã e fomentou a criação de várias ONG’s sediadas na África.
</p>
<p class="text-justify">Foi secretário de estado da Educação de Goiás no governo Mauro Borges de 1961 a 1964,  assessor da Presidência da República de Guiné Bissau na década de 80, assessor técnico na Secretaria do Planejamento e, em seguida, presidente da Fundação de Formação de Servidores Públicos Estaduais de Goiás, no Governo de Henrique Santillo, em meados da década de 80 e início da década de 90. Foi secretário de Estado da Educação, Cultura e Desporto do Estado do Tocantins, no Governo de Moisés Avelino, de 1991 a 1994.</p> 

<p class="text-justify">De 1991 a 1994, sua gestão frente à Secretaria da Educação, Cultura e Desporto do Governo do Tocantins foi marcada por uma forte atuação na área cultural, tendo realizado mais de 60 oficinas culturais no interior do estado (nas áreas de teatro, dança, música, treinamentos para bibliotecários, etc); implantou  representações regionais de cultura nas 16 Delegacias Regionais de Ensino; realizou o I Encontro de Escritores do Tocantins; o I CantaTocantins – Festival da Canção (Araguaína, Gurupi e Palmas) e o I Festival de Teatro e Dança do Tocantins (Porto Nacional), entre outras ações. Além disso, foi reitor da Unitins de 1998 a 1999.</p>

<p class="text-justify">Em 2008, a universidade Federal do Tocantins (UFT) concedeu o título Doutor Honoris Causa ao professor, escritor e intelectual, Ruy Rodrigues da Silva, no auditório do Palácio Araguaia. Na oportunidade, além de receber o título, o escritor lançou também o livro "As Áfricas que Descobri” e "Respirando o Pretério". O título Doutor Honoris Causa é atribuído a personalidades que tenha se tenha destacado pelo saber ou pela atuação em prol das artes, das ciências, da filosofia, das letras ou do melhor entendimento entre os povos.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Terezino">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Terezino.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
						<h1 class="h1-tamanho">TEREZINO PEREIRA DA SILVA  </h1>

<p class="text-justify">Filho de Monte do Carmo-TO, Terezino Pereira Lopes nasceu em 15 de outubro de 1953. É casado com Vera Lúcia com quem tem dois filhos. Foi diretor de esportes da Cenog, na década de 80, quando Darcy Coelho era seu presidente. Naquela época, a diretoria de esportes organizava torneios de futebol com os filhos de nortistas que moravam e estudavam em Goiânia/GO. </p>

<p class="text-justify">O Campeonato de Futebol acontecia todos os anos e reunia 24 equipes formadas por jogadores de cidades como Porto Nacional, Monte do Carmo, Paranã, Dianópolis, Montes Belos, Ponte Alta do Tocantins, Taguatinga, Natividade, Lizarda e Aurora, dentre outras. A grande final do torneio era realizada no Estádio Olímpico de Goiânia com a presença do governador Henrique Santillo. A equipe que organizava o campeonato assinava com a sigla T.J.O de “Terezino”, “Joaquinzão” (Joaquim Alves de Castro) e “Otoniel” Andrade.</p>
<p class="text-justify">No campeonato, Taguatinga apresentava uma das melhores equipes, e Porto Nacional participava com dois times: Porto 1 e 2. Porto 1 era comandada por Otoniel Andrade e Porto 2 por Dejaval Pereira. Muitos daqueles jovens que participavam do torneio tornaram-se figures ilustres do Direito, da Medicina e da Política do futuro Estado do Tocantins, então norte goiano.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Toto-Cavalcante">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Toto-Cavalcante.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
						<h1 class="h1-tamanho">TOTÓ CAVALCANTE</h1>

<p class="text-justify">José Antônio Totó Ayres Cavalcante, advogado, professor, empresário e líder político. Natural do município de Corrente/PI, foi criado em Porto Nacional.  Cursou Direito na Universidade Católica de Goiás, tendo concluído em 1973. Tem especialização em Direito pela Universidade de Coimbra, Portugal.  Filho de Condorcet Cavalcante Pacheco e Edmunda Aires Cavalcante. É casado com Amélia Costa Pereira Cavalcante. </p>

<p class="text-justify">Totó iniciou a militância política muito cedo, no movimento estudantil. Foi presidente do Grêmio Literário do Colégio Estadual de Porto Nacional. Na faculdade, foi presidente do Diretório Acadêmico da Faculdade de Direito da UCG e da Casa do Estudante Norte-Goiano (Cenog). Foi Relações Públicas da Prefeitura de Goiânia, durante o governo Iris Rezende, no período de 1966 a 1969 e duas vezes deputado estadual por Goiás de 1983 a 1987 e de 1987 a 1991 e, ainda, suplente de senador pelo Tocantins, tendo assumido temporariamente o mandato. </p>

<p class="text-justify">Totó tem orgulho de ter ajudado a redigir o artigo da Constituição que criou o Tocantins, causa que o levou a enfrentar uma greve de forme que repercutiu a favor da criação do Estado. Como deputado, Totó tem o mérito de ter articulado a moção de apoio da Assembleia Legislativa de Goiás que consolidou o projeto de criação do Tocantins. É proprietário da Rádio Independência, de Paraíso do Tocantins.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Trajano-Coelho-Neto">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Trajano_Coelho_Neto.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
						<h1 class="h1-tamanho">TRAJANO COELHO NETO </h1>

<p class="text-justify">O jornalista Trajano Coelho Neto nasceu em Balsas, em 1916, sul do Maranhão. Teve que deixar os estudos no Colégio Pedro II, em São Luís/MA, em virtude da morte do pai, Márcio Coelho. Casou-se em 1938 com Maria Cavalcante Teixeira (Dona Maroquinha) e teve seis filhos: Márcio, Maria, Mary, Marisa, Plínio e Rita.</p>

<p class="text-justify">Chegou nos garimpos dos Piaus, hoje cidade de Pium, no ano de 1943, período em que o cristal de rocha (quartzo) custava muito dinheiro para atender à indústria bélica da 2ª Guerra Mundial. Considerado na época um dos mais prósperos garimpeiros de quartzo, Trajano Coelho montou casa de comércio, fazenda de gado e implantou, na região Norte de Goiás, um moderno parque gráfico. </p>

<p class="text-justify">No ano de 1948, foi candidato a deputado estadual pelo PRP, partido do governador Ademar de Barros (SP). Apesar da boa votação, não foi eleito.</p>
<p class="text-justify">No ano de 1951, fundou o semanário Ecos do Tocantins e fez editar, em 1957, o Anuário do Tocantins. Duas publicações com linha editorial a favor da divisão de Goiás e criação do Estado do Tocantins. No ano de 1960, é eleito prefeito de Pium. Na noite de 13 de abril de 1961, às 19h30 foi assassinado por desconhecidos, até hoje não identificados.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Vagner-Maia-Leite">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border-autor-foto" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Vagner_Maia_Leite.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h1 class="h1-tamanho">VAGNER MAIA LEITE  </h1>

<p class="text-justify">Vagner Maia Leite nasceu em Porto Nacional, fez parte da diretoria da Conorte, desde 1980, onde exerceu cargo de secretário e lutou muito  pela causa. Advogado, administrador e juiz de direito no período de 1970 a 1976, quando respondeu pelas Comarcas de Guaraí, Paraíso do Tocantins, Cristalândia, Araguacema e Porto Nacional.</p>

                </div>
            </div>
        </div>
		
		
		<div class="container bloco-bio" id="Vicentinho">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <img src="imagens-conteudo/herois-tocantins/parte-ii-iii/Vicentinho.jpg" class="img-responsive posi-imagem-autor">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border-autor-descricao">
					<h1 class="h1-tamanho">VICENTE ALVES DE OLIVEIRA  (VICENTINHO) </h1>

<p class="text-justify">Vicente Alves de Oliveira é natural de Porto Nacional e nasceu em 1º de outubro 1957. Buscando realizar seu sonho de criança, incentivado pelo pai, Comandante Vicentão, expressivo líder e piloto comercial, mudou-se para Goiânia, e em seguida para o Rio de Janeiro, onde formou-se aviador profissional, o que determinou seu estabelecimento na região aurífera do Estado do Pará, onde constitui conceituada empresa de aviação.</p>

<p class="text-justify">Em 1986, convidado pelo então candidato ao Governo de Goiás, Mauro Borges, Vicentinho Alves ingressou no PDT e candidatou-se a deputado estadual, recebendo uma grande votação, só não permitindo sua eleição devido as engrenagens da sublegenda da época. </p>

<p class="text-justify">Em 1989, elegeu-se prefeito de sua cidade natal Porto Nacional. Já em 1998, foi eleito deputado estadual, se reelegendo em 2002, com uma expressiva votação, o que o condicionou a presidir a Assembleia Legislativa, cargo que o levou a governar o Estado do Tocantins por 15 dias. </p>

<p class="text-justify">Nas eleições de 2006, foi eleito deputado federal. Nas eleições estaduais, em 2010, Vicentinho Alves disputou uma das duas vagas ao Senado Federal, obtendo o 3º lugar, com 332.295 votos. Entretanto, um dos eleitos, e na época ex-governador do Estado, Marcelo Miranda, teve sua candidatura indeferida com base da lei complementar 64/90 pelo Tribunal Superior Eleitoral (TSE) em 16 de novembro de 2010, garantindo a Vicentinho Alves a diplomação e posse como senador do Tocantins a partir de 1º de fevereiro de 2011. Neste cargo, ocupou a função de Primeiro-Secretário da Mesa Diretora do Senado Federal no biênio 2015-2016. Ao primeiro-secretário compete a administração da Casa e a supervisão geral do Senado Federal.</p>

                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
		<!-- Esses -->
		<a id="b-voltar" href="herois-do-tocantins-lista.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/voltar.png" style="height:65px;"></a>
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>