<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>HISTÓRIA DE PORTO NACIONAL</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" id="main-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>HISTÓRIA DE PORTO NACIONAL</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center"><img src="imagens-conteudo/historia-de-porto/01_Mapas_ok.jpg " class="img-responsive img-margin"></div>



<div> <p class="text-justify"> <b>“Porto nasceu no final do século XVIII, sob os auspícios dos bandeirantes portugueses, auxiliados pelo braço escravo da raça africana. O ouro que abundava em profusão nas minas de Carmo e Pontal atraía os aventureiros luzitanos e mamelucos ao centro do País para enfrentarem as tribos bravias que habitavam os sertões desconhecidos” </b>(Enciclopédia dos Municípios Brasileiros, IBGE, 1958, p. 377). </p></div>

<div class="text-center"><img src="imagens-conteudo/historia-de-porto/02_Dom_Teotonio_ok.jpg" class="img-responsive img-margin"></div>




<div> <p class="text-justify"> “<b>Celeramente o novo povoado se desenvolveu devido à navegação do Tocantins, única estrada sem encruzilhada e vedada à fúria dos silvícolas. Por sobre as águas desse grande rio corriam toneladas do precioso metal rumo à Lisboa. Em 1910, D. João VI, percebendo o valor do ouro existente em Goiás ou Grão-Pará, resolveu transferir para Porto Real a cabeça de julgado de S. João das Duas Barras e determinou que para ali se transportasse o Corregedor Joaquim Teotônio Segurado”. </b>(História de Porto Nacional, Durval Godinho, 1988, p. 14) </p></div>

<p class="text-justify">As duas citações acima resumem a importância de Porto Nacional desde os seus primórdios até se transformar no mais importante polo cultural, político, econômico e social do então Norte Goiano, hoje Estado do Tocantins. Real, Imperial e Nacional. Muitos historiadores e pesquisadores já se debruçaram sobre sua história que não se esgota e segue nos dias atuais cada vez mais promissora. O Memorial oferece um pouco dessa história nas vozes de historiadores e pesquisadores da terra.</p>

<h1 class="h1-tamanho">As origens de Porto Nacional</h1>
<p class="text-justify">Porto Nacional surgiu no contexto da mineração aurífera do século XVIII. Esta afirmação leva em conta que, segundo registros da historiografia, o aglomerado tivera como primeiro morador o barqueiro português Félix Camoa, que atravessava as pessoas de um lado ao outro do rio Tocantins, quando estas se deslocavam de um arraial com destino a outro – Bom Jesus do Pontal, à margem esquerda do rio e Carmo, à margem direita. </p><p class="text-justify">
Palacin atribui ao arraial de Porto Real a mesma data de fundação adotada para Pontal. De fato, a ligação entre um e outro arraial é historicamente tão estreita, a ponto de Porto real ter sido também chamado de Arraial de Porto Real do Pontal, conforme tradição oral. </p>

<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Arraial_Pontal_Burchell_ft.arienar.JPG" class="img-responsive img-margin" ></div>



<p class="text-justify">


Nos primeiros anos do século XIX (1806, portanto antes da chegada da Corte de D. João VI ao Rio de Janeiro), esse arraial torna-se cabeça de julgado, conforme Alencastre: “o arraial do Carmo, que até 1806 tinha sido cabeça de julgado, perdeu esta prerrogativa com a sua transferência para Porto Real, ponto este que com a navegação do Tocantins começava a prosperar, ao passo que o Carmo e o Pontal iam decaindo... (ALENCASTRE, 1979, p.284) </p><p class="text-justify">
No Tocantins as origens de Porto Nacional, vale apresentar ainda o ponto de vista de Maria de Fátima Oliveira, que afirma: “...Porto Nacional teve suas origens no século XVIII, por ser passagem obrigatória entre dois centros mineratórios, Monte do Carmo e Bom Jesus do Pontal” (OLIVEIRA, 2004, p.237) </p><p class="text-justify">
O crescente vai-e-vem de aventureiros, de um lado para o outro do rio, fez com que outros barqueiros aproveitassem a ideia do pioneiro lusitano e também passassem a comercializar a travessia. Dessa forma, ao aproximar-se o início do século XIX, inúmeros casebres começaram a desenhar um pequeno aglomerado humano, abrigando ali agricultores, pescadores, trabalhadores preparados para o transporte de cargas em direção aos dois arraiais, e mineradores... muito mineradores, na busca diuturna pelas reluzentes pepitas de ouro encontradas na região. </p>
<div class="text-center"><img src="imagens-conteudo/historia-de-porto/03_Pohl_livro_ok.jpg" class="img-responsive img-margin text-center"></div>


<p class="text-justify">


Godinho em sua obra “História de Porto Nacional” aponta a acurada descrição demográfica  de Porto Real feita pelo médico e naturalista austríaco Johann Emanuel Pohl como uma das mais completas do lugar. Em sua publicação “Viagem no Interior do Brasil”, Pohl diz que a população dessa jurisdição, em 1819, era assim representada: </p>

<div>Brancos casados: 18</div><div>
Brancas casadas: 19</div><div>
Brancos solteiros: 52</div><div>
Brancas solteiras: 12</div><div>
Negros livres casados: 25</div><div>
Negras livres casadas: 30</div><div>
Negros livres solteiros: 170</div><div>
Negras livres solteiras: 204</div><div>
Mulatos casados: 50</div><div>
Mulatas casadas: 26</div><div>
Mulatos solteiros: 128</div><div>
Mulatas solteiras: 225</div><div>
Escravos: 625</div><div>
Escravas: 219</div><div style="margin-bottom:10px;">
<b>TOTAL: 1.857</b></div><div>

<p class="text-justify">
Godinho afirma que nos primeiros anos do século XIX, Porto Real já era um núcleo de certa importância graças a influência da aquavia do Tocantins e sua privilegiada localização no eixo entre os dois ricos povoados de Carmo e Pontal. </p><p class="text-justify">


A navegação acabou transformando aquelas ribeiras no mais importante empório comercial de todo o Norte. A velocidade das águas proporcionou a pujança e trouxe um desenvolvimento palpável. Isso se confirmou no principiar de 1807, quando Porto Real do Pontal já se transformara num núcleo de grande importância para toda região. Com esse progresso, em 18 de março de 1809, o lugarejo foi elevado à categoria de Julgado, se destacando, quase que sozinho, motivado pelo visível declínio da mineração nas outras localidades. </p><p class="text-justify">


Por necessidade do estabelecimento de uma nova rota comercial entre o movimentado Porto Real do Pontal e centros mais desenvolvidos daquele Brasil colonial, se instalou no lugarejo uma carpintaria e dela surgiram grandes embarcações feitas por hábeis artesões, que bem postadas na água partiam rumo a Belém, levando, além do ouro, muita prata e outros produtos produzidos ali. </p>
<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Barcos.jpg" class="img-responsive img-margin" ></div>



<p class="text-justify">

Foi com o surgimento deste porto comercial que também aconteceram os primeiros passos desta comunidade rumo ás áreas administrativas, intelectual, cultural e religiosa. Com essa estrutura, era certa a evolução administrativa do lugar. E foi isso que ocorreu, por força de lei provincial. A 14 de Novembro de 1831, ano em que D.Pedro I abdicou ao trono, o Julgado de Porto Real foi elevado a Porto Imperial. Aquela outorga definia em lei a sede definitiva do município, que por legislação pertinente tinha de receber órgãos de administração pública com a competência de normatizar o cotidiano daquela já destacada comunidade. </p>
<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Casarao.jpg" class="img-responsive img-margin" ></div>


<p class="text-justify">

Após a contagem evolutiva de trinta anos da instalação de Porto imperial, exatamente em 13 de julho de 1861, por determinação da resolução provincial n° 333, assinada por José Martins Alencastro, presidente da Província de Goyaz, nascia Porto Nacional, o mais importante polo cultural, político, econômico e social do então Norte Goiano, hoje Estado do Tocantins. Naquele dia foi entregue as autoridades do lugarejo o diploma de Emancipação Política do Município que deu seus primeiros passos no antigo Porto Real do Pontal, onde tudo começou, com muitos sonhos, fé e esperança no futuro. </p>
<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Beira_Rio_foto.JPG" class="img-responsive img-margin" ></div>


<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Catedral_Dorni.JPG" class="img-responsive img-margin" ></div>

<div class="text-center"><img src="imagens-conteudo/historia-de-porto/Ilha-Porto-Real.jpg" class="img-responsive img-margin" ></div>
<div class="text-center"><img src="imagens-conteudo/historia-de-porto/4761612477_16b7005b06_o.jpg" class="img-responsive img-margin" ></div>


<div class="titulo-patrimonio">REFERÊNCIAS</div>

<div>GODINHO, Durval da Cunha. História de Porto Nacional, 1988</div>
<div>AQUINO, Napoleão Araújo de. Aspectos das Leis Voltadas à Preservação do Patrimônio e das Memórias Urbanas: Porto Nacional (TO) </div>
<div>RODRIGUES, Edivaldo de Souza. Um breve histórico sobre a fundação e emancipação política de Porto Nacional. Capturado em 10 jul 15, disponível em http://www.portonacional.to.gov.br/pagina-cidade-um-breve-historico-sobre-a-fundacao-e-emancipacao-politica-de-porto-nacional</div>


                </div>
				
            </div>
        </div>
        
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
		<!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>
