<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>MOVIMENTOS EMANCIPACIONISTAS</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>MOVIMENTOS EMANCIPACIONISTAS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="h1-tamanho">GOVERNO INDEPENDENTE DO NORTE – 1821</h1>

<p class="text-justify">Vários historiadores consideram o movimento separatista ocorrido no norte goiano, entre 1821 e 1823, como uma das primeiras manifestações do movimento autonomista que teria originado o atual Estado do Tocantins.</p><p class="text-justify">

A historiadora Maria do Espírito Santo Rosa Cavalcante em sua obra “O Discurso Autonomista do Tocantins”, discorre sobre o movimento:
</p><p class="text-justify">
“Em 14 de setembro de 1821, exatamente um mês após a frustrada tentativa de deposição do capitão-general Sampaio da Província de Goiás, instalou-se o governo independente do norte, com capital provisória em Cavalcante. Concretizava-se, assim, a ruptura política entre o norte e o centro-sul goianos - mantida até 1823, momento em que foi manifestado pelo Príncipe Regente seu parecer contrário àquela decisão, negando-se a reconhecer como legítima a instalação desse governo provisório.
</p><p class="text-justify">
No dia seguinte, o governo provisório da Comarca da Palma fez circular uma proclamação em que se declarou separado do governo (ALENCASTRE, 1979). As justificativas para a separação do norte em relação ao centro-sul de Goiás eram, para Segurado, de natureza econômica, política, administrativa e geográfica.
</p><p class="text-justify">
A determinação de estabelecer essa Junta provisória partiu do desembargador, o Ouvidor da Comarca do Norte Teotônio Segurado - tendo assumido a condição de presidente até janeiro de 1822.
</p><p class="text-justify">
A instalação de um governo independente - não necessariamente em relação à Coroa Portuguesa, mas sim ao governo do capitão-general da Comarca do Sul - parecia ser o único objetivo de Theotônio Segurado. A sua posição não-independencista provocou a insatisfação de alguns dos seus correligionários políticos e a retirada de apoio à causa separatista. Em outubro de 1821, ele transfere a Capital para Arraias, provocando oposição e animosidade dos representantes de Cavalcante. Com seu afastamento em janeiro de 1822, quando partiu para Lisboa como deputado representante de Goiás na Corte, agravou a crise interna. (CAVALCANTE, 1999, p.64). 
</p><p class="text-justify">
Segue trecho da célebre proclamação do ouvidor Joaquim Teotônio Segurado, em 15 de setembro de 1821, marcando, oficialmente, uma das lutas libertárias pela criação do Estado do Tocantins 
</p>
<div class="row">
	 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	 
	</div>
	 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<p class="text-justify" style=""><i>
			“Habitantes da Comarca da Palma! É tempo de sacudir o jugo de um governo despótico; todas as províncias do Brasil nos têm dado este exemplo; os nossos irmãos de Goiás fizeram um esforço infrutífero, ou por mal delineado, ou por ser rebatido por força superior. Eles continuam na escravidão, e até um dos principais habitantes desta comarca ficou em ferros. Palmenses sejamos livres e tenhamos segurança pessoal; unamo-nos e principiemos a gozar as vantagens que nos promete a Constituição!” 
			</i></p>
	</div>
</div>

<h1 class="h1-tamanho">PRÓ-CRIAÇÃO DO ESTADO DO TOCANTINS – DÉCADA DE 50</h1>

<p class="text-justify">O juiz de Direito de Porto Nacional, juntamente com Fabrício César Freire, Osvaldo Cruz da Silva, João Matos Quinaud, Dr. Francisco Mascarenhas e Dr. Severo Gomes, lançou o "Movimento Pró-Criação do Estado do Tocantins" como uma expressão do desejo emancipacionista do norte de Goiás. </p><p class="text-justify">

Em sinal de sua dedicação à causa, o juiz Feliciano Machado Braga passou a despachar documentos oficiais como: "Porto Nacional, Estado do Tocantins".</p>
<div class="text-center"><img src="imagens-conteudo/movimentos/feliciano_Porto.jpg" class="img-responsive img-margin"></div>  

<p class="text-justify">Recém-chegado à Comarca de Porto Nacional, tomando conhecimento das ideias separatistas de Trajano Coelho Neto, pelo jornal Ecos do Tocantins, e Lysias Rodrigues, através do jornal A Tarde, que visavam à independência do norte do Goiás, Feliciano Machado Braga entregou-se de corpo e alma na campanha, colocando em risco sua própria carreira. </p>
<div class="text-center"><img src="imagens-conteudo/movimentos/IMG_5611.jpg" class="img-responsive img-margin"></div>  



<p class="text-justify">Após angariar a simpatia do povo, ele inicia um ciclo de palestras, passeatas, comícios e manifestos pela criação do Estado do Tocantins, criando até o hino e escolhendo um padroeiro para o novo Estado. Antevendo a constitucionalidade do movimento separatista e com base na Constituição então vigente, aquele magistrado criou a “Comissão de Estruturação Jurídica do Estado do Tocantins”, sendo eleito presidente. </p><p class="text-justify">

Formaram-se comissões para estudar as formas de implantação do novo estado, sendo criados, então uma bandeira e hino. </p>
<div class="text-center"><img src="imagens-conteudo/movimentos/felciano_passeata.jpg" class="img-responsive img-margin"></div>  



<p class="text-justify">Em 13 de maio de 1956, escreveu o “Manifesto Tocantinense”, e no dia 20 do mesmo mês promoveu uma gigantesca passeata cívica, convocando o povo para descerrar uma placa com os dizeres “Viva o Estado do Tocantins,” nas dependências do Umuarama Clube. Durante quatro anos, foram realizadas paradas cívicas no dia 13 de maio alusivas à data de lançamento do movimento. </p>

<p class="text-justify">Em suas sentenças, fazia questão de consignar: “Porto Nacional, Estado do Tocantins...”, o que lhe valeu severas reprimendas e punições por parte do Tribunal de Justiça do Estado de Goiás, cujo Presidente, à época, desembargador Jorge de Morais Jardim, perseguiu-o de tal forma, que o valoroso magistrado acabou requerendo sua aposentadoria, falecendo alquebrado pelas perseguições sofridas. (Póvoa,1999, p.88) </p>

	<div class="row">
	 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	 
	</div>
	 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<p class="text-justify">

		<i>“Tocantinenses: De há muito a boa semente de organizar as populações dos rios Tocantins e Araguaia, compreendidas dentro da região que constitui o setentrião goiano, em território federal, foi lançada por uma patriota das nossas Forças Armadas, o brigadeiro Lysias Rodrigues.
		</i>
	</p>
	<p class="text-justify">
	<i>Daí para cá, a semente, lançada que foi em terra fértil, medrou, mas não com as características, que lhe quis dar o seu idealizador, porém, com formas próprias, já muito evoluídas, como se era de esperar, dado o meio propício, compreendedor daquele ideal sadio, que modificando a própria planta, hoje quer tão somente constituir-se em Estado, irmanando com as demais unidades da Federação para a sua grandeza.</i>
	</p>
	<p class="text-justify"><i>
	....
	Propugnemos pois, pela criação do ESTADO DO TOCANTINS, suscitando o pronunciamento de suas populações, através de um plebiscito, a fim de submetê-lo à apreciação da Assembleia Legislativa e do Congresso, de conformidade com o disposto no artigo segundo da Constituição Federal......(Revista Estado do Tocantins,1989)</i>
	</p>
	</div>
</div>

<h1 class="h1-tamanho">CENOG – DÉCADA DE 60 </h1>

<p class="text-justify">No início da década 60 nasce em Goiânia, uma entidade que iria mudar a perspectiva de vida dos estudantes do Norte de Goiás que moravam e estudavam fora do ninho a que pertenciam. No dia 4 de julho de 1960 foi registrado o Estatuto da Casa do Estudante Norte Goiano, a Cenog, cuja atuação foi muito além da assistência aos filiados, integrando a juventude em torno da luta pela criação do Estado do Tocantins. </p>


<div class="text-center"><img src="imagens-conteudo/movimentos/Cenog1.jpg" class="img-responsive img-margin"></div>  


<p class="text-justify">A Casa nasceu em Goiânia, mas foi idealizada em Pedro Afonso pelo diretor do Colégio Cristo Rei, professor Ruy Rodrigues. Rapidamente, a Entidade ganhou seccional em várias cidades como Porto Nacional, Miracema, Tocantínia e Gurupi. O objetivo inicial era criar condições de moradia para estudantes do norte de Goiás que migravam para Goiânia. O seu primeiro presidente foi o estudante de filosofia Vicente de Paula Leitão, amigo de padre Ruy. No meio do mandato, Vicente teve que retornar para o Rio de Janeiro e assumiu à frente da Casa o então vice-presidente, José Cardeal dos Santos. Cardel lembra a época dos congressos realizados pela Entidade. “Fizemos um congresso espetacular em Pedro Afonso. “Na plateia estava uma figura ilustre, Pedro Ludovico - o fundador de Goiânia que tinha ido acompanhar o filho Mauro Borges – governador de Goiás”. </p><p class="text-justify">

“O contínuo desprezo das autoridades goianas, ao longo dos anos, ao norte do Estado irritava os habitantes da região, fazendo acender em seu meio a noção de que só com a separação a região teria condições de progredir”, observa a historiadora Jucyléia Santana dos Santos, autora do estudo que resultou no livro O Sonho de uma Geração, o Movimento Estudantil Goiás e Tocantins. O estudo revela que por meio da Cenog os estudantes procuraram despertar a consciência do povo, reivindicando aos órgãos competentes melhorias para a região tais como escolas, bibliotecas, espaço de lazer e de cultura.  </p>

<h1 class="h1-tamanho">CONORTE – DÉCADA DE 80 </h1>

<p class="text-justify">No início da década de 80, muitos daqueles jovens que sacudiram o norte de Goiás com congressos e encontros da Cenog mantiveram o sonho de criação do Tocantins. Agora, já como profissionais, empresários e líderes políticos, uma nova entidade os agregava: a Comissão de Estudos dos Problemas do Norte Goiano – Conorte, que nasceu com o objetivo de lutar pelo desenvolvimento do norte goiano, incluindo a defesa permanente de criação de um novo estado. </p>
<div class="text-center"><img src="imagens-conteudo/movimentos/Conorte_congresso_abr1982 (5).jpg" class="img-responsive img-margin"></div>  




<p class="text-justify">Amparada por estudos e uma ousada campanha de marketing, a Conorte encaminha sua proposta de criação do Tocantins à presidência da Assembleia Nacional Constituinte consubstanciada com quase 100 mil assinaturas de apoio, resultado de um gigantesco trabalho de mobilização.  A entidade forneceu dados e argumentos para o discurso autonomista e atuou diretamente em Brasília - capital federal, junto aos parlamentares convencendo-os da importância da criação do Tocantins para o desenvolvimento do interior do Brasil. </p>


</p><p class="text-justify"> “Visitamos todos os 527 parlamentares constituintes e mais uma campanha publicitária foi feita, desta vez dirigida aos parlamentares com os dizeres: Estado do Tocantins, ato de soberania da Constituinte, distribuídos por todos os pontos estratégicos do Congresso”, conta o presidente da entidade José Carlos Leitão que cita que a escolha da capital no centro do Estado foi também uma conquista da Conorte. Em sua obra “Tocantins, Eu Também Criei”, ele apresenta a Carta ao Tocantins: </p>
<div class="text-center"><img src="imagens-conteudo/movimentos/IMG.jpg" class="img-responsive img-margin"></div>  


<p class="text-justify"> “Decidida a não depender apenas da boa vontade dos constituintes, A Conorte convocou, nos dias 23,24 e 25 de abril de 1982, um congresso de Estudos, em Brasília, a fim de coligir dados que comprovassem a auto-sustentabilidade econômica do pretendido Estado do Tocantins. Foram três dias decisivos para a consecução desse objetivo. Daí surgiu a “Carta de Tocantins”, cujos tópicos principais merecem transcrição”: </p><p class="text-justify">

1º - O norte goiano, com uma população em torno de um milhão de habitantes, disseminados por 53 municípios, numa área de 286.706 km2, é dotado de abundantes recursos naturais, não tendo sua expressão econômico-política merecido a atenção por parte das autoridades governamentais, do que é prova o patente desequilíbrio regional. </p><p class="text-justify">

2º - Por essa razão, desde os tempos do Brasil Colônia, atravessando o Império até esta parte da República, tem o nome de Goiás sido palco de movimentos divisionistas, buscando alcançar a autonomia para atingir a eficiência administrativa, e promover seu próprio desenvolvimento. </p>


<p class="text-justify" style="margin-top:15px;"> 3º - Tais movimentos precursores deixaram na mente dos nortenses a semente reivindicatória que, agora, germina e se corporifica na Comissão de Estudos dos Problemas do Norte Goiano – CONORTE, que apresenta como objetivos prioritários, os constantes dos seus estatutos:</p>
<div class="row">
	 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	 
	</div>
	 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<p class="text-justify"><i>

I – Congregar a população do Norte Goiano em torno do ideal autonomista, a fim de conscientizá-la da realidade atual;</i>
</p><p class="text-justify"><i>
II – pesquisar, estudar; debater e conhecer os problemas do norte goiano e traçar diretrizes de um plano de desenvolvimento integrado, a ser entregue às autoridades estaduais e federais, com o objetivo de embasar a reivindicação autonomista;
</i>
</p><p class="text-justify"><i>

III – viabilizar o aumento da representatividade da região junto aos poderes constituídos, independentemente de vínculo partidário ou religioso, valorizando dessa forma os candidatos e as lideranças da própria região;
</i>
</p>
		
		
	</div>
</div>


<p class="text-justify">

4º - O norte goiano está consciente de que nenhum desenvolvimento será alcançado, se a busca não se firmar nessa trilogia: energia, estradas e expansão agropastoril. </p><p class="text-justify">

5º - Atenção especial deverá ser dispensada às riquezas locais possibilitando a implantação de indústrias que visem ao aproveitamento da matéria-prima existente na região, gerando empregos, expandindo o mercado, promovendo o desenvolvimento ordenado e seguro de toda a área nortense.
</p><p class="text-justify">
A carta prossegue até o 9º objetivo dizendo que a Conorte acredita na intenção de acerto dos governantes em atender as reivindicações formuladas no I Congresso de Estudos dos Problemas do Norte Goiano.
</p><p class="text-justify">
As conclusões do Congresso foram espalhadas pelos órgãos de divulgação - rádios, jornais e tv -, tendo sido afixadas em estabelecimentos por toda a região. Seu efeito fez-se sentir na campanha posterior para a autonomia do Tocantins. </p>

<div class="text-center"><img src="imagens-conteudo/movimentos/DIRETORIA-DA-CONORTE-1988.JPG" class="img-responsive" style="margin: 30px auto 10px auto;">
<div class="text-center"> Diretoria da Conorte em 1988</div>
</div>  

                </div>
            </div>
        </div>
        
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
        <!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>
