<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
   <body onselectstart="return false">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>PATRIMÔNIO CULTURAL</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="text-center">MEMORIAL DE PORTO</h1>
                    <br /><div class="text-center h1-tamanho">Relação de fatos históricos e das personalidades que construíram <br /> a história de Porto e do Tocantins</div>
                    <br /><div class="text-center">Por Otávio Barros da Silva <br />Da Academia Tocantinense de Letras</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titulo-patrimonio">AS ORIGENS DE PORTO NACIONAL</div>
                        <div><b>Indios Xerente</b> -  Primeiros moradores da região </div>
                        <div><b>Porto Real do Pontal</b></div>
                        <div><b>Félix Camôa</b> -  Fundador de Porto Real  </div>
                        <div><b>Julgado de Porto Real</b> -  Theotônio Segurado em 1806 </div>
                        <div><b>Vila de Porto Imperial</b> -  13 de julho de 1831 </div>
                        <div><b>Porto Nacional</b> -  7 de março de 1890  </div>
                        <div><b>Manuel Pinto Cerqueira</b> - Primeiro pároco de Porto (1842) </div>
                        <div><b>Vicente Ayres - Inspetor</b> de ensino. (1835/1866) </div>
                        <div><b>Dr. Luiz Ferreira Lemos</b> - Primeiro médico do Tocantins (1839/1874)</div>
                        <div><b>Dr. Francisco Ayres</b> -  Médico, vice-governador de Goiás e deputado federal. (1872/1957)  </div>
                        <div><b>Dom Domingos Carrerot</b> - Primeiro bispo de Porto (1921-1933) </div>
                        <div><b>Dom Alano</b> - Segundo bispo de Porto (1936-1976) </div>
                        <div><b>Dom Celso Pereira</b> - Terceiro bispo de Porto (1976-1995) </div>
                        <div><b>Dom Geraldo Vieira</b> - Quarto bispo e Porto (1998-2009)</div>
                        <div><b>Dom Romualdo Kujawski</b> - Quinto bispo de Porto (2009/ …) </div>
                     <div class="titulo-patrimonio">A DIVISÃO DE GOIÁS</div>
						<div><b>Príncipe D. João</b> - Criador da Comarca do Norte (1809) </div>
						<div><b>Theotônio Segurado</b> - Ouvidor da Comarca do Norte </div>
						<div><b>Deputado Visconde Taunay</b> - Projeto para Província do Tocantins (1873) </div>
						<div><b>Deputado Carlos Gomes Leitão</b> -  Projeto para Província do Tocantins (1889) </div>
						<div><b>Coronel Lysias Rodrigues</b> - Projeto do Território Federal do Tocantins (1944) </div>
						<div><b>Dr. Oswaldo Ayres</b> - Defensor do Estado do Tocantins (1953) </div>
						<div><b>Juiz Feliciano Braga</b> - O Manifesto Tocantinense, Bandeira e Hino do Tocantins (1956)</div>
						<div><b>César Freire</b> - Defensor do Tocantins </div>
						<div><b>João Matos Quinaud</b> - Fundou o jornal “O Estado do Tocantins” (1956)  </div>
						<div><b>Francisco Mascarenhas</b> - Advogado pró Tocantins </div>
						<div><b>CENOG</b> - Casa do Estudante do Norte Goiano/(1960/1968)  </div>
						<div><b>Padre Ruy</b> - Fundador da Cenog </div>
						<div><b>José Cardeal</b> - Presidente da Cenog </div>
						<div><b>Antônio Denizar Ribeiro Freitas</b> - Estudante mártir da CENOG (7-9-1965) </div>
						<div><b>Deputado Siqueira Campos</b> - Projeto do Estado do Tocantins (1972) </div>
						<div><b>Deputado José Freire</b> - Defensor do Tocantins </div>
						<div><b>Deputado Maranhão Japiassu</b> - Defensor do Tocantins </div>
						<div><b>Deputado Totó Cavalcante</b> - Defensor do Tocantins </div>
						<div><b>Deputado Célio Costa</b> - Defensor do Tocantins </div>
						<div><b>CONORTE</b> - Comissão de Estudos do Norte Goiano (1981) </div>
						<div><b>José Maya Leite</b> - Fundador da Conorte </div>
						<div><b>Carlos Leitão</b> - Presidente da Conorte 
						5 de Outubro de 1988. Data de criação do Estado do Tocantins</div>
						<div><b>Instituto Cenog/Conorte</b> - Fundador:  Otávio Barros (Palmas, 9/12/2005) </div>
					<div class="titulo-patrimonio">Senadores de Porto</div>
						<div>Senador Maya</div>
						<div>Senador Marco Costa </div>
						<div>Senador Vicentinho </div>
					<div class="titulo-patrimonio">Prefeitos de Porto Nacional </div>
						<div><b>Joaquim Ayres</b></div>
						<div>Primeiro prefeito de Porto (1891/1895) </div>
						<div><b>Antonio Benedito Borges</b></div>
						<div>Prefeito de Porto (1896/1899)  </div>
						<div><b>Benício Pinheiro de Lemos</b></div>
						<div>Prefeito de Porto (1989/1903) </div>
						<div><b>Frederico Ferreira Lemos</b></div>
						<div>Prefeito de Porto (1903/1907)  </div>
						<div><b>Josué de Oliveira Negre</b></div>
						<div>Prefeito de Porto (1907/1911)  </div>
						<div><b>Benício Pinheiro de Lemos</b></div>
						<div>Prefeito de Porto (1911/ 1915) </div>
						<div><b>Pacífico José Pedreira</b></div>
						<div>Prefeito de Porto (1915/1919) </div>
						<div><b>Carlos Negri Braga</b></div>
						<div>Prefeito de Porto (1923/1927) </div>
						<div><b>Aureliano Azevedo </b></div>
						<div>Prefeito de Porto (1927/1930) </div>
						<div><b>José Ayres Neto </b></div>
						<div>Prefeito de Porto (1930/ 1935) </div>
						<div><b>Rafael Fernandes Beles </b></div>
						<div>Prefeito de Porto (1935/1936) </div>
						<div><b>Domingos Negre </b></div>
						<div>Prefeito de Porto (1936/1940) </div>
						<div><b>Clovis da Silveira Migues</b></div> 
						<div>Prefeito de Porto (1940/ 1941) </div>
						<div><b>Oswaldo Ayres </b></div>
						<div>Prefeito de Porto (1942/1944) </div>
						<div><b>Adalgilso Francisco Braga</b></div> 
						<div>Prefeito nomeado 1944 </div>
						<div><b>Antônio José de Oliveira</b></div>
						<div>Prefeito de Porto (1944/1945)</div>  
						<div><b>Antônio José de Oliveira </b></div>
						<div>Prefeito nomeado (1945) </div>
						<div><b>Antônio Aires Primo</b></div>
						<div>Prefeito nomeado (1945) </div>
						<div><b>Aureliano Azevedo </b></div>
						<div>Prefeito nomeado (1945) </div>
						<div><b>Felicíssimo Braga </b></div>
						<div>Prefeito nomeado (1946) </div>
						<div><b>Cândido Aires </b></div>
						<div>Prefeito nomeado (1946) </div>
						<div><b>Antônio José de Oliveira</b></div>
						<div>Prefeito de Porto (1947/1951) </div>
						<div><b>João Pires Querido</b></div>
						<div>Prefeito de Porto (1951/1955)  </div>
						<div><b>Severino Inácio de Macedo </b></div>
						<div>Prefeito de Porto (1955/1959) </div>
						<div><b>Hosterno Pereira da Silva</b></div>
						<div>Prefeito de Porto (1961/1964) </div>
						<div><b>Aquiles Mais Leite </b></div>
						<div>Prefeito nomeado (1964) </div>
						<div><b>Aquilies Maia Leite</b></div>
						<div>Prefeito de Porto (1965/1966) </div>
						<div><b>Antônio Coelho dos Santos</b></div>
						<div>Prefeito de Porto (1966/1970) </div>
						<div><b>Olegário José de Oliveira</b></div>
						<div>Prefeito de Porto (1970/1972) </div>
						<div><b>Antônio Poincaré de Andrade</b></div>
						<div>Prefeito de Porto (1973/1977) </div>
						<div><b>Jurimar Pereira de Macedo</b></div>
						<div>Prefeito de Porto (1977/ 1982) </div>
						<div><b>Euvaldo Thomaz de Sousa</b></div>
						<div>Prefeito de Porto (1983/1987) </div>
						<div><b>Vicente Alves de Oliveira</b></div>
						<div>Prefeito de Porto (1987/1992) </div>
						<div><b>Fábio Martins de Santana</b></div>
						<div>Prefeito de Porto (1992/1996) </div>
						<div><b>Otoniel Andrade Costa </b></div>
						<div>Prefeito de Porto (1997/2000) </div>
						<div><b>Otoniel Andrade Costa </b></div>
						<div>Prefeito de Porto (2001/2004) </div>
						<div><b>Paulo Sardinha Mourão</b></div>
						<div>Prefeito de Porto (2005/2008) </div>
						<div><b>Tereza Venturini Martins </b></div>
						<div>Prefeita de Porto (2009/2012) </div>
						<div><b>Otoniel Andrade Costa </b></div>
						<div>Prefeito de Porto (2013/2016) </div>
					<div class="titulo-patrimonio">Deputados de Porto</div>
						<div><b>Deputado Joaquim Ayres</b> - Deputado  Constituinte (1891) </div>
						<div><b>Deputado Luiz Leite Ribeiro</b> - Legislatura 1901-1904</div>
						<div><b>Deputado Pio Ayres</b> - Legislatura 1905-1908 </div>
						<div><b>Deputado Ayres Joca</b> - Legislatura 1917-1920 </div>
						<div><b>Deputado Maranhão Japiassu</b> - Legislatura 1963-1967 </div>
						<div><b>Deputado Antonio Pereira</b> -  Legislatura 1971-1975 </div>
						<div><b>Deputado Ayres Neto</b> - Legislatura 1979-1983 </div>
						<div><b>Deputado Totó Cavalcante</b> - Legislatura 1987-1991</div>
						<div><b>Deputado Célio Costa</b> - Legislatura 1987-1991 </div>
						<div><b>Deputado Otoniel Andrade</b> - Legislatura 1990-1993 </div>
						<div><b>Deputado Toinho Andrade</b> - Legislatura 2010-2013 </div>
						<div><b>Deputado Paulo Mourão</b> - Legislatura 2015-2018 </div>
						<div><b>Deputado Ricardo Ayres</b> - Legislatura 2015-2018 </div>
					<div class="titulo-patrimonio">HISTORIADORES DE PORTO </div>
						<div>Durval Godinho</div> 
						<div>Napoleão Aquino</div>
						<div>Antonio Maya </div>
						<div>Benvinda Barros Dourado</div>
					<div class="titulo-patrimonio">PROFESSORES DE PORTO </div>
						<div>Dinorah José Costa - Mãe do prefeito Otoniel e militante popular </div>
						<div>José Gomes da Silva (1839) </div>
						<div>Simeão Ayres (1871) </div>
						<div>Joaquim Maya (1878 )</div>
						<div>Luiz Leite Ribeiro (1879) </div>
						<div>Frederico Pedreira (1883)</div>
						<div>Francelino Milhomem (1884) </div>
						<div>Benícia Ribeiro Leite (1884) </div>
						<div>Frei Bertrand Olléris </div>
						<div>Frei José Maria Audrin </div>
						<div>Frei Reginaldo Tournier </div>
						<div>Florêncio Aires </div>
						<div>Thereza Ayres </div>
						<div>Rachel Pinto Cerqueira</div> 
						<div>Milton Ayres </div>
						<div>Maria Fátima Oliveira </div>
						<div>Antonio Luiz Maya </div>
						<div>Padre Rui </div>
						<div>Generoza Pinto Castro </div>
						<div>Dina Amorim </div>
						<div>Ernestina Freire Ayres</div> 
						<div>Cybele Neiva </div>
						<div>Alcides Rodrigues Aires </div>
						<div>Carmem Ayres Manduca </div>
						<div>Creusa Ayres </div>
						<div>Joana dos Reis Neres Gomes</div> 
						<div>João Pereira de Macedo </div>
						<div>Maria Joaquim Sotero da Silva </div>
						<div>Palmeron Tavares da Silva </div>
						<div>Evilácia Dias de Moura </div>
						<div>Maria Zélia Menezes </div>
						<div>Custodia da Silva Pedreira</div> 
						<div>Carmênia Matos Maia </div>
						<div>Elza Barros Pereira </div>
						<div>Benvinda B. Ribeiro </div>
						<div>Edwardes B. Silva </div>
						<div>Osvaldina Fonseca de Sá </div>
						<div>Fanny Macedo Pereira </div>
						<div>Alcides R. Aires </div>
						<div>Fidêncio Bogo </div>
						<div>Maria Pedreira Brito</div>
						<div>Maria Lúcia Rocha </div>
						<div>Angélica Ribeiro Aranha </div>
					<div class="titulo-patrimonio">DIVERSIDADE CULTURAL </div>
						<div>Catedral de N. S. das Mercês </div>
						<div>Centro Histórico de Porto </div>
						<div>Museu de Zoologia de Porto </div>
						<div>Museu Histórico de Porto </div>
						<div>Biblioteca Eli Brasiliense </div>
						<div>Semana da Cultura</div>
						<div>Marcos Zimmermann. Fundador do Núcleo Tocantinense de Arqueologia </div>
						<div>José Hidasi. Diretor do N.T.A. </div>
						<div>Antônia Pedreira. Coordenadora do N.T.A. </div>
						<div>Núcleo de Estudos Ambientais </div>
						<div>Casa da Cultura</div>
						<div>Centro Cultural Durval Godinho </div>
						<div>Seminário São José </div>
						<div>Colégio S. Coração de Jesus </div>
						<div>Comsaúde </div>
						<div>Praia de Porto Real </div>
						<div>Mercado Municipal </div>
						<div>Estádio General Sampaio </div>
						<div>Aeroporto de Porto </div>
						<div>Aeroclube de Porto Nacional (1955)</div> 
						<div>Parque Industrial de Porto </div>
						<div>Comissão Pastoral da Terra </div>
						<div>Eldino José Alves. Líder da reforma agrária em Porto </div>
						<div>Pesca esportiva </div>
						<div>Competições náuticas</div>
						<div>Casa do Estudante Antônio Denizar</div> 
						<div>Luiz Neiva. Diretor de cinema </div>
						<div>Antista do Acordeon. O sanfoneiro de Porto</div> 
						<div>Everton dos Andes. Cantor e compositor </div>
						<div>José Iramar. Diretor de teatro </div>
						<div>Lucinha Quilombo. Professora de dança </div>
						<div>Festa do Divino </div>
						<div>Festa da Padroeira</div>
						<div>Banda Mestre André - Conjunto musical </div>
						<div>Tambores do Tocantins - Conjunto musical </div>
					<div class="titulo-patrimonio">AVIAÇÃO COMERCIAL  </div>
						<div>Comandante Vicentão</div>
						<div>Comandante João Pires Querido </div>
						<div>Comandante Vicentinho </div>
						<div>Comandante Geré </div>
						<div>Comandante Cabano </div>
						<div>Comandante Niltinho</div>
						<div>Comandante Ranulfo </div>
						<div>Comandante Pedreira </div>
						<div>Comandante Baylon </div>
						<div>Comandante Cleytinho Maia </div>
						<div>Sargento Soriano - Mecânico de vôo </div>
					<div class="titulo-patrimonio">JORNAIS DE PORTO  </div>
						<div><b>Folha do Norte (1891)</b></div> 
							<div>Frederico Ferreira Lemos </div> 
							<div>Luis Leite Ribeiro</div> 
						<div><b>O Incentivo (1902) </b> </div> 
							<div>Frederico Ferreira Lemos </div> 
							<div>Luis Leite Ribeiro </div> 
						<div><b>Norte de Goiás (1905)  </b> </div> 
							<div>Francisco Ayres </div> 
						<div><b>O Lyrio (1909/1910)  </b> </div> 
							<div>Jornal manuscrito do tipógrafo Benedito Guedes </div>
						<div><b>O Polichinelo (1919) </b> </div> 
							<div>Osvaldo Ayres </div>
						<div><b>Jornal do Povo (1920) </b> </div> 
							<div>Abílio Nunes </div>
						<div><b>O PORVIR (1922)</b> </div> 
							<div>Osvaldo Ayres </div>
						<div><b>Folha dos Moços (1930) </b> </div> 
							<div>Frades Dominicanos </div>
						<div><b>Goyaz Central (1945) </b> </div> 
							<div>Adelino Gonçalves </div>
						<div><b>O Goiás Central (1950)  </b> </div> 
							<div>João Mattos Quinaud </div>
						<div><b>A Norma (1953) </b> </div> 
							<div>Osvaldo Ayres </div>
						<div><b>O Estado do Tocantins (1956)  </b> </div> 
							<div>João Mattos Quinaud </div>
						<div><b>Porto Nacional Jornal (1964) </b> </div> 
							<div>Antônio Poincaré Andrade</div>
						<div><b>Brasil Central (1985) </b> </div> 
							<div>Getúlio Matos</div>
						<div><b>O Paralelo 13 (1986) </b> </div> 
							<div>Edson Rodrigues e Edivaldo Rodrigues</div>
						<div><b>Jornal Porto News </b> </div> 
					<div class="titulo-patrimonio">TIPÓGRAFOS</div>
						<div>Benedicto Guedes</div> 
						<div>Raymundo Pereira</div> 
						<div>Jorge Lopes</div>
					<div class="titulo-patrimonio">ESCRITORES DE PORTO</div>
						<div>Luiz Ferreira Lemos (1839) </div>
						<div>Francisco Ayres (1872) </div>
						<div>J. Aires da Silva (1900) </div>
						<div>Osvaldo Ayres (1905) </div>
						<div>João F. da Conceição (1912) </div>
						<div>Eulina Braga (1914) </div>
						<div>Eli Brasiliense (1915) </div>
						<div>Durval Godinho (1919) </div>
						<div>Antônio Luiz Maya (1926) </div>
						<div>Ruy Rodrigues (1927) </div>
						<div>Pery do Espirito Santo (1927) </div>
						<div>Joaquim Oliveira (1937) </div>
						<div>Getúlio Matos Quinaud </div>
						<div>Antônio Maia Leite (1938) </div>
						<div>Jamil Pereira Macedo (1939) </div>
						<div>J. Cantuária (1940) </div>
						<div>Gesina Cardeal Barros (1941) </div>
						<div>Pedro P. Piagem </div>
						<div>Zezuca Pereira (1943) </div>
						<div>Pedro Tierra (1948) </div>
						<div>Edivaldo Rodrigues </div>
						<div>Edwardes B. Silva </div>
						<div>Jones Pedreira (1952) </div>
						<div>Célio Costa (1953) </div>
						<div>Marinalva Barros (1955) </div>
						<div>Célio Pedreira (1959) </div>
						<div>Márcia Costa (1960) </div>
						<div>Regina Reis (1960) </div>
						<div>Renato Godinho (1960) </div>
						<div>José Carlos Ribeiro (1969) </div>
						<div>Eurivan Gomes (1976) </div>
						<div>Napoleão Aquino </div>
						<div>Eduardo Manzano </div>
						<div>Célio Benvindo </div>
						<div>Lucian Rufo Barbosa (1990) </div>
						<div>Demétrios Miculis </div>
                </div>
            </div>
        </div>
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
        <!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
		
    </body>
</html>