<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body onselectstart="return false">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>REFERÊNCIAS BIBLIOGRÁFICAS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/O_Discurso_Autonomista_do_Tocantins.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">O Discurso Autonomista do Tocantins</h1>
                            <div class="nomeAutor">Maria do Espírito Santo Rosa Cavalcante</div>
                            <p class="text-justify">
                            Analisa os diferentes momentos do discurso autonomista, utilizando-se de vasta bibliografia sobre essa questão, incluindo documentos históricos, entrevistas com personagens envolvidos nas articulações políticas etc. A autora delimita o tempo histórico de sua pesquisa em três momentos: os anos 20 do século XIX, e as décadas de 1950 e 1980, momentos em que o discurso sobre a autonomia do Norte de Goiás ganhou destaque. O livro compõe-se de quatro capítulos, nos quais são discutidos o contexto político da época, os diferentes atores sociais e as articulações políticas que envolveram a autonomia da região.
                            </p>
                            <p class="text-justify">
                            A peculiaridade de cada um dos momentos se deve tanto às questões referidas com tendência político nacional e suas implicações no discurso autonomista, quanto às questões de oposição político-partidária entre as lideranças do Norte de Goiás.
                            </p>
                            <p class="text-justify">
                            No primeiro capítulo, a autora objetiva recuperar o discurso autonomista de 1821 no seu momento, isto é, Goiás à época da independência, para identificar, nas proclamações de Theotônio Segurado, com destaque para a proclamação de 15 de setembro de 1821, o efeito operacionalizador de seu discurso, tanto para mobilizar adesões ao projeto de Governo Independente do Norte de Goiás quanto para sustentar a Junta de Governo durante o período em que esteve na sua presidência.
                            </p>
                            <p class="text-justify">
                            O segundo capítulo mostra que o discurso autonomista de 1956 a 1960 teve por base a criação do Estado do Tocantins. As fontes indicam que foi este o momento propício para articular e mobilizar a população do Norte de Goiás em apoio ao projeto, com destaque para Porto Nacional, tendo em vista que uma das metas do Governo Federal era a ocupação do Centro Oeste e a construção de Brasília era a consolidação desse propósito.
                            </p>
                            <p class="text-justify">
                            O terceiro e quarto capítulos foram construídos para a periodização de 1985-1988, ou seja, para o momento mais recente de elaboração de propostas de autonomia do Norte de Goiás. Mostram as alianças partidárias dos representantes políticos de Goiás durante o percurso de apreciação do projeto do Estado do Tocantins na Assembleia Nacional Constituinte.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Fundamentos_Historicos_Tocantins.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Fundamentos  Históricos do Tocantins</h1>
                            <div class="nomeAutor">Temis Parente</div>
                            <p class="text-justify">
                                O livro Fundamentos Históricos do Tocantins, da professora Temis Gomes Parente, representa uma contribuição para o entendimento do processo de criação do Estado, nos mais variados aspectos, os quais propiciam, também, a criação de espaços de produção e de sistematização da história da região.
                            </p>
                            <p class="text-justify">
                               O trabalho da professora amplia espaços de significação, por resgatar a formação socioeconômica da região, no século XVIII. O resgate de fontes, trabalho minucioso de “garimpagem” de documentos, abre espaços e estimula novas pesquisas na área.
                            </p>
                            <p class="text-justify">
                               Fundamentos Históricos do Estado do Tocantins, com uma linguagem clara e instigante, provoca em nossas escolas o interesse e a curiosidade. Uma obra que contribui, sobremaneira, para o resgate da memória e da força da população tocantínia.
                            </p>
                            <p class="text-justify">
                               No primeiro capítulo, a autora estuda a Capitania a partir da política dominante na colônia e de sua relação com a metrópole. Para tanto, é analisado a historiografia referente ao tema desta pesquisa, tanto para a jurisdição de Goiás como para outras partes da colônia.
                            </p>
                            <p class="text-justify">
                            No segundo capítulo, a autora faz uma abordagem panorâmica do processo histórico de formação da capitania de Goiás, adotando-se uma visão mais aprofundada da região Norte. No terceiro há uma análise do processo de formação socioeconômica dos arraiais goianos e as relações de produção predominantes na região.
                            </p>
                            <p class="text-justify">
                            O quarto capítulo é dedicado à análise dos fatores que levaram ao aprofundamento da crise econômica, processo contínuo na região a partir da decadência da mineração e da consequente falta de acumulação de capital no interior da capitania. Também, é enfatizado as medidas tomadas para reverter o processo de crise, analisadas, principalmente, com base em memórias deixadas por contemporâneos da época.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Terra_dos_Coroneis.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Terra dos Coronéis</h1>
                            <div class="nomeAutor">Edivaldo Rodrigues</div>
                            <p class="text-justify">
                            Traça a linha do tempo entre o século XIX até meados do século XX, expressando com fidelidade os grandes acontecimentos políticos, sociais e econômicos de então. É uma obra aberta que não pode ser classificada tão somente no contexto romanceado, mas também, como um livro de pesquisa, uma fonte histórica, onde se pode constatar o processo de formação da sociedade portuense.
                            </p>
                            <p class="text-justify">
                            O autor descreve uma realidade citando nomes, retratando os costumes, as labutas e a regionalidade de seu povo. Em linhas curtas, este trabalho traça um inquestionável refletir de questões sociais marcantes no Brasil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Pedras_de_fogo.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Pedras de Fogo</h1>
                            <div class="nomeAutor">Edivaldo Rodrigues</div>
                            <p class="text-justify">
                                A obra retrata a saga dos dominicanos em Porto Nacional e desvenda os mistérios da construção da Catedral Nossa Senhora das Mercês. A Catedral foi idealizada pelos frades dominicanos e executada, em nove anos de árduo trabalho, com a colaboração decisiva da comunidade portuense da época.
                            </p>
                            <p class="text-justify">
                                A temática do livro é constituída de realidade e ficção, prevalecendo a ficção. Registra os primeiros passos do nascente povoado de Porto Real do Pontal, ainda no início do século XVIII, realizando com isso, uma viagem no tempo, precisa em detalhes e fatos históricos que determinaram a formação educacional, cultural, sócio-política e até econômica de Porto Nacional. 
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Historia_da_Imprensa_no_Tocantins.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">História da Imprensa no Tocantins</h1>
                            <div class="nomeAutor">Otávio Barros</div>
                            <p class="text-justify">
                            O surgimento dos primeiros jornais do então norte goiano que noticiavam os costumes da época; ressalta a arte de fazer jornal; o mercado leitor; o mercado publicitário; a imprensa nortense, destacando o jornal Norte de Goyaz, bem como os primeiros jornalistas da região; a primeira rádio, a primeira emissora de televisão e os jornais do novo Estado. 
                            </p>
                            <p class="text-justify">
                            O autor faz, ainda, um apanhado de depoimentos dos primeiros jornalistas de Palmas. Vindos das mais variadas regiões do Brasil, estes profissionais relatam seus primeiros trabalhos e suas experiências no mais novo Estado da federação.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/A_Transformacao_Historica_Tocantins.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">A (Trans) Formação Histórica do Tocantins</h1>
                            <div class="nomeAutor">Odair Giraldin (Org.)</div>
                            <p class="text-justify">
                            Reúne treze autores, cujos trabalhos versam sobre aspectos da história da região que compreende hoje o Estado do Tocantins. É uma coletânea que aborda desde a relação interétnica entre povos indígenas e não-indígenas, passando pela mineração do século XVIII; a história do cotidiano de Porto Nacional no final do século XIX e início do século XX, chegando até a construção da Belém-Brasília.
                            </p>
                            <p class="text-justify">
                            O objetivo do trabalho foi mostrar que a formação histórica e cultural do que viria a se tornar o atual Estado do Tocantins é resultado de uma multiplicidade de eventos históricos e culturais - em sua dinamicidade – e de populações diversas ao longo de mais de duzentos anos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Breve_Historia_do_Tocantins_Sua_Gente.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Breve História do Tocantins e de sua Gente – Uma Luta Secular</h1>
                            <div class="nomeAutor">Otávio Barros da Silva</div>
                            <p class="text-justify">
                            Apresenta densa pesquisa sobre os fatos históricos que vão desde a ocupação territorial do Tocantins, passando pelas impressões dos agentes administrativos que aí atuaram, comandantes expedicionários que o percorreram em variadas intercessões e modalidades transpositivas, até registrar efetivamente a amplitude dos eventos e movimentos que se reanimaram em mais de cento e oitenta anos para a criação do Estado do Tocantins.
                            </p>
                            <p class="text-justify">'
                            O autor destaca os nomes das personalidades que deram vida e animação àqueles eventos e movimentos – mesmo referindo-se às discordâncias quanto aos ideais libertários. A obra traz um apanhado das tradições, da antropologia, da toponímia, do vocabulário e dos fatos sociais políticos e econômicos que determinaram a história da nação tocantinense.
                            </p>
                            <p class="text-justify">
                            No primeiro capítulo, retrata os tempos coloniais, tratando entre outros temas as Entradas e Bandeiras; no segundo capítulo, trata da Comarca do Norte de Goiás; no terceiro capitulo, a Herança do Passado; no quarto, destaca a Província da Palma; no capitulo cinco, os movimentos modernos e a criação do Tocantins e no último capítulo, uma análise do Estado para o século XXI.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Historia_de_Porto_Nacional.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">História de Porto Nacional</h1>
                            <div class="nomeAutor">Durval Godinho</div>
                            
                            <p class="text-justify">
                            O livro faz uma ampla abordagem dos vários aspectos do nascimento da cidade de Porto. Entre estes aspectos podemos citar os detalhes sobre a origem e como se deu a fundação de Porto Nacional, destacando o pioneirismo do barqueiro português Félix Camôa que escolheu se fixar no então Arraial do Pontal.
                            </p>
                            <p class="text-justify">'
                            A obra traz, também, o primeiro levantamento estatístico de Porto; elenca os fatores da evolução portuense; trata da estruturação política administrativa da cidade; dos serviços de arrecadação pública; da divisão eclesiástica, bem como da criação da diocese de Porto Nacional; do serviço de correio; da vida forense, com seus magistrados e promotores públicos.
                            </p>
                            <p class="text-justify">
                            No aspecto político, destaca intendentes e prefeitos municipais de 1891 a 1986. Além disso, descreve o desempenho da imprensa portuense e clubes sociais; fala da navegação do Tocantins e Araguaia; da história da construção da Catedral e de todo o grande trabalho desenvolvido por Dom Alano. Registra, ainda, fatos pitorescos do cotidiano daquela gente, contou sobre a passagem da Coluna Prestes em Porto Nacional e citou, em oito páginas, nomes das pessoas que contribuíram para o desenvolvimento da cidade.
                            </p>
                            <p class="text-justify">
                            O trabalho de pesquisa foi realizado em cartórios, repartições fiscais, matérias publicadas no periódico Norte de Goiás; em documentos do Arquivo Histórico de Goiânia, entre outros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Tocantins_O_Movimento_Separatista_do_Norte_de_Goias.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Tocantins:  O Movimento Separatista do Norte de Goiás 1821-1988</h1>
                            <div class="nomeAutor">Maria do Espírito Santo Rosa Cavalcante</div>
                            <p class="text-justify">
                                A traz a trajetória da luta tocantinense em favor da criação do Estado. Resgata a história desde os acontecimentos que antecedem o movimento separatista, manifestações ainda no contexto goiano dos séculos XVIII e XIX. Relata o processo de ocupação econômica a partir das primeiras décadas do século XVIII, com base na exploração aurífera, desenvolvida segundo a orientação política mercantilista do Estado absolutista português. 
                            </p>
                            <p class="text-justify">
                                A Obra trata do viés separatista em 1821, passando pela história do povoamento de Goiás, do aparecimento do corregedor Teotônio Segurado no cenário; das eleições para escolha dos representantes da Província nas cortes de Lisboa e o manifesto separatista da imprensa regional no final do século XIX. Foi retratada, também, a trajetória da luta pró-criação do Estado, partindo dos anos 50 até a aprovação do projeto em 1988.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Tocantins_eu_Tambem_Criei.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Tocantins – Eu Também Criei</h1>
                            <div class="nomeAutor">José Carlos Leitão</div>
                            <p class="text-justify">
                            Lançado em 2001, o livro relata didaticamente todo o movimento vitorioso desde o século XVIII até a criação do Tocantins pela Constituinte de 1988. Enfatiza que a luta emancipacionista não foi vitória de uma pessoa só, mas de um povo. Nesse sentido, retrata a luta da Conorte – Comissão de Estudos dos Problemas do Norte Goiano, entidade que agregou muitos profissionais oriundos de várias áreas e de todos os recantos do Norte goiano, intelectuais e idealistas que defendiam a causa separatista e elaboravam estudos de viabilidade da divisão do Goiás, mantendo acesa a chama da autonomia.
                            </p>
                            <p class="text-justify">
                            O autor trata em sete capítulos um pouco da história do povoamento na região; da Capitania de Goyaz; da Comarca do Norte e das lutas populares. Um capítulo especial é dedicado à Conorte, com destaque para os trabalhos desenvolvidos e relação das Diretorias da Comissão. No final, trata das conquistas alcançadas após os dez primeiros anos de criação do Estado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Caminhos_que_Andam.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Caminhos que andam</h1>
                            <div class="nomeAutor">Kátia Maia Flores</div>
                            <p class="text-justify"> 
                            Obra prima que alarga a historiografia do Tocantins e nos convence de que de certo modo a história do Tocantins é a história do Rio Tocantins. Desde o nome que lhe tomou emprestado aos grandes projetos de desenvolvimento, o rio Tocantins mantém a vocação de rio emblemático para esta região, parte essencial na construção da nossa própria identidade.        
                             </p>
                            <p class="text-justify"> 
                            O grande rio no dizer dos índios foi, ao mesmo tempo, um obstáculo difícil de ser superado e uma ponte para o progresso, abrindo caminhos pelo sertão, ampliando fronteiras, transportando riquezas, integrando culturas. 
                             </p>
                            <p class="text-justify"> 
                            A obra Caminhos que Andam da pesquisadora Dra. Kátia Maia Flores é um trabalho denso, vigoroso e consistente que propõe pensar o Rio Tocantins a partir de um conjunto de relatos de navegantes – missionários, bandeirantes, viajantes estrangeiros, comerciantes - e relatórios técnicos com propostas que, até o século XIX, tinham por objetivo estudá-lo ou representá-lo numa vertente pragmática e que viesse a atender às aspirações de integração do território. 
                             </p>
                            <p class="text-justify"> 
                            O livro, resultado da sua tese de doutorado pela Universidade Federal de Minais Gerais, é um trabalho de grande esforço intelectual de uma observadora atenta, ousada e corajosa que navega nas águas revoltas de um passado longínquo para resgatar a história do rio Tocantins a partir das primeiras impressões, as pegadas deixadas por viajantes e toda sorte de aventureiros que trilharam os caminhos dos sertões do Brasil. 
                             </p>
                            <p class="text-justify"> 
                            Um livro complexo, mas de leitura agradável, pela narrativa envolvente que resgata um pouco da linguagem e cultura da época. Além do texto rico em detalhes, o livro conta ainda com vasto material iconográfico.
                             </p>
                            <p class="text-justify"> 
                            Como diz a autora: “Enquanto os governantes de Goiás mantiveram as mais enfadonhas reclamações político-administrativa, e lançaram nuvens de fumaça sobre a navegação do rio Tocantins, ela se manteve, por obra de destemidos comerciantes e práticos da navegação que, a despeito do poder público a praticaram por mais de século, criando os meios de materializá-la na base da experiência e de muita improvisação”.
                             </p>
                        </div>
                    </div>
                </div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="imagens-conteudo/Capas_Livros/Warner Pires_Memorias_vivas.jpg" class="img-responsive" style="margin: auto;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center h1-tamanho">Memórias Vivas da Câmara Municipal de Palmas</h1>
                            <div class="nomeAutor">Warner Pires</div>
                            <p class="text-justify"> 
                            O livro “Memórias Vivas da Câmara Municipal de Palmas” é fruto da vivência que Warner Pires teve durante muitos anos junto aos fatos históricos da criação do Estado do Tocantins e de Palmas, como cidadã, mulher de político e vereadora. Natural de Goiânia-GO, Warner veio para o norte de Goiás na década de 70. 
                             </p>
							 <p class="text-justify"> 
								É casada com o popular Raimundo Boi, conceituado médico, filho de Miracema do Tocantins, com quem teve três filhos, adotou um e assumiu duas filhas que ele trazia consigo antes do casamento. Sua vida com o marido esteve fortemente ligada à história da criação do Tocantins e de Palmas. Boi foi o primeiro presidente da Assembleia Legislativa do Tocantins (deputado estadual constituinte), vice-governador em dois mandatos e vice-prefeito da capital, dentre outros cargos públicos. Ao lado do marido, Warner esteve no acender das luzes da criação do Tocantins e de sua capital Palmas, com sua estrutura política e administrativa. Lutou para isso acontecer. O primeiro governador do Tocantins, Siqueira Campos, tinha a residência do casal, em Miracema - depois capital provisória, como um lugar de despacho das suas decisões políticas. 
							 
							 </p>
							 <p class="text-justify"> 
							  A sua visão de toda a história de criação de Palmas e dos poderes constituídos carrega um olhar feminino, naquele mundo governado por homens, do mais alto dirigente ao operário. É comovente e ao mesmo tempo lúdico ler suas memórias. E ela não se faz de rogada. Sem medo, fala e deixa que falem, expondo os fatos e os bastidores dessa verdadeira epopeia que só quem foi pioneiro sabe contar. 
							 
							 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/js.js"></script>
        <!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>