<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
    </head>
   <body onselectstart="return false">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="index.html"><img src="img/Logo_Horizontal_longa_01.png" class="img-responsive"></a>
                </div>
                
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="herois-do-tocantins-lista.html"><img src="img/voltar.png" ></a>
                </div> -->
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <!-- FIM: Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header text-center titulo-pagina">
                        <h1>VÍDEOS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul class="nav nav-pills nav-stacked" id="menu-videos" style="margin-top:10px;">
                        <li role="presentation" class="active"><a href="#porto-nacional-aniversario-152-anos" class="link-videos">Porto Nacional - Aniversário 152 Anos</a></li>
                        <li role="presentation"><a href="#conorte-video-decada-de-80" class="link-videos">Conorte - Vídeo Década de 80</a></li>
                        <li role="presentation"><a href="#dom-alano-o-apostolo-do-tocantins" class="link-videos">Dom Alano - O Apóstolo do Tocantins</a></li>
                        <li role="presentation"><a href="#altar-de-pedra-canga" class="link-videos">Altar de Pedra Canga</a></li>
                        <li role="presentation"><a href="#programa-cidades-porto-nacional" class="link-videos">Programa Cidades - Porto Nacional</a></li>
                        <li role="presentation"><a href="#documentário-de-57-anos-do-aeroclube-de-porto-nacional-to" class="link-videos">Aeroclube de Porto Nacional - 57 anos</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="embed-responsive embed-responsive-16by9" id="porto-nacional-aniversario-152-anos">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Doc.PortoNacional_13min19_carlao.mp4#t=1" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Doc.PortoNacional_13min19_carlao.mp4#t=1"> 
                            </object> 
                        </video>
                    </div>
                    <h1 class="h1-tamanho">Porto Nacional - Aniversário 152 Anos <small>Tempo: 13'18"</small></h1>
					<hr />
                    <div class="embed-responsive embed-responsive-16by9" id="conorte-video-decada-de-80">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Conorte_300.mp4" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Conorte_300.mp4"> 
                            </object> 
                        </video>
                    </div>
                    <h1 class="h1-tamanho">Conorte - Vídeo Década de 80 <small>Tempo: 46"</small></h1>
					<hr />
                    <div class="embed-responsive embed-responsive-16by9" id="dom-alano-o-apostolo-do-tocantins">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Doc_Dom_Alano_14min.mp4#t=20" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Doc_Dom_Alano_14min.mp4"> 
                            </object> 
                        </video>
                    </div>
                    <h1 class="h1-tamanho">Dom Alano - O Apóstolo do Tocantins </h1>
					<hr />
                    <div class="embed-responsive embed-responsive-16by9" id="altar-de-pedra-canga">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Altar de Pedra Canga.mp4#t=15" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Altar de Pedra Canga.mp4#t=1"> 
                            </object> 
                        </video>
                    </div>
                    <h1 class="h1-tamanho">Altar de Pedra Canga <small>Tempo: 17'38"</small></h1>
					<hr />
                    <div class="embed-responsive embed-responsive-16by9" id="programa-cidades-porto-nacional">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Programa Cidades do Tocantins - Porto Nacional.mp4#t=1" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Programa Cidades do Tocantins - Porto Nacional.mp4#t=1"> 
                            </object> 
                        </video>
                    </div>
					<h1 class="h1-tamanho">Programa Cidades - Porto Nacional <small>Tempo: 16'53"</small></h1>
					<hr />
                    <div class="embed-responsive embed-responsive-16by9" id="documentário-de-57-anos-do-aeroclube-de-porto-nacional-to">
                        <video width="800" height="500" controls="controls" > 
                            <source src="imagens-conteudo/videos/Documentario de 57 anos do Aeroclube de Porto Nacional - To.mp4#t=1" type="video/mp4"> 
                            <object data="" width="320" height="240">
                                <embed width="320" height="240" src="imagens-conteudo/videos/Documentario de 57 anos do Aeroclube de Porto Nacional - To.mp4#t=1"> 
                            </object> 
                        </video>
                    </div>
					<h1 class="h1-tamanho">Aeroclube de Porto Nacional - 57 anos <small>Tempo: 05'45"</small></h1>
					<hr />
                </div>
            </div>
        </div>
        <!-- Separador, Linha -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>
        </div>
        <div class="container text-right">
            <img src="img/Logo_Prefeitura_01.png" >
        </div>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/jquery-scrolltofixed-min.js"></script>
		<script src="bootstrap/js/js.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
				$('#menu-videos').scrollToFixed();
                $(".link-videos").click(function() {
                    $('#menu-videos > li').removeClass('active');
                    $(this).parent().addClass('active');
                });
            });
        </script>
		<!-- Esses -->
		<a id="PgUp" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_cima.png" class="btn-navegacao"></a>
		<a id="h-principal" href="index.html" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_home.png" class="btn-navegacao"></a>
		<a id="PgDn" href="javascript:void(0);" style="position: fixed; z-index: 1001; display: block;"><img src="img/BTN_baixo.png" class="btn-navegacao"></a>
        <!-- Esses -->
    </body>
</html>